<%= render "shared/svg" %>

<%= render "shared/nav" %>
<div class="mb--xl">
<div class="test center">
  <h1 class="c-project-header__title">Browse Projects</h1>
</div>
</div>
<div class="c-breaker purple">
  <div class="test center large">
    Heartful.ly wedding registries benefit these many programs around the world.
  </div>
</div>
<div class="flex test">

  <div class="pad flex-2">
    <form>
      <div class="inline" style="margin-right: 20px;">
        <label class="block mb--small" style="text-transform: uppercase; color: gray; font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif; font-size: 0.8em; letter-spacing: 0.5pt;">Filter by region</label>
        <select class="vm">
          <option>South America</option>
          <option>Another option</option>
        </select>
      </div>

      <div class="inline">
        <label class="block mb--small" style="text-transform: uppercase; color: gray; font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif; font-size: 0.8em; letter-spacing: 0.5pt;">Filter by issue</label>
        <select class="vm">
          <option>Education</option>
          <option>Another option</option>
        </select>
      </div>
    </form>
  </div>
  <div class="flex-2"></div>
</div>

<div class="test">
  <%= render "shared/project_mini" %>
  <%= render "shared/project_mini" %>
</div>

<div class="c-breaker dark-purple center mb--large">
  <h3 class="roboto large mb">Heartful.ly is free for couples. Free for nonprofits.</h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<div class="test">
  <%= render "shared/project_mini" %>
  <%= render "shared/project_mini" %>
</div>

<!-- impact breaker -->
<div class="c-breaker c-breaker--impact dark-purple center" style="background-image: url(<%=image_url('impact-crop.jpg')%>); background-size: cover; background-position: 100% 50%;">
  <div class="content roboto xl">
    <div class="content-tag">Heartfu.ly registries are improving the quality of people's lives around the world.</div>
    <div id="rotate">
      <div class="content-cycle">Empowering women in Senegal to start and grow their own businesses.</div>
      <div class="content-cycle">Reducing carbon dioxide emissions through solar light campaigns in Zambia.</div>
      <div class="content-cycle">Training health workers in Tanzania to care for people with HIV/AIDS.</div>
      <div class="content-cycle">Improving household health and safety in Senegal with clean cookstoves.</div>
    </div>
  </div>
</div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 2px solid #7D72DE;">share the love?</span></h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>
<%= render "shared/footer" %>
