<%= render "shared/svg" %>

<%= render "shared/nav_guest" %>
<header class="c-hero" style="background-image: url('<%=image_url('heartfully-home.jpg')%>');">
  <div class="c-hero__container">
    <h1 class="c-hero__home ma mb">
      Celebrate your big day by
      making someone else's.
    </h1>
    <div class="">
      <button class="c-button c-button--primary mb" style="max-width: 90%;">Create a charitable wedding registry</button>
      <a href="#" class="c-hero__video block ma"><svg class="c-icon c-icon--white" style="margin: -2px 0 0 5px;"><use xlink:href="#icon-play"></use></svg> See how it works</a>
    </div>
  </div>
  <div class="c-video-modal inline ma">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mzx4HhHIUx4" frameborder="0" allowfullscreen></iframe>
    <div class="center">
      <button id="close-video" class="c-button c-button--primary nudge-top--small">Close window</button>
    </div>
  </div>
</header>

<div class="test">
  <div class="c-breaker">
    <div class="c-subhed center">
      <svg class="c-icon mb" style="width: 25px; height: 25px;"><use xlink:href="#icon-globe-purple"></use></svg>
      <h2 class="c-subhed__text c-subhed__text--home">
        Heartful.ly is a wedding registry for charitable giving.
      </h2>
    </div>
  </div>
</div>
<div class="line"></div>

<div class="c-how test pad">
  <h3 class="c-how__title center subhed purple mb--xl">How It Works</h3>
  <div class="r-flex mb--xl">
    <div class="c-how__step flex-2">
      <span class="c-how__step-number block mb">Step One</span>
      <h4 class="c-how__step-title purple mb--small">Create and personalize your registry.</h4>
      <p class="c-how__step-description mb">
        Choose a unique URL, share some basic information about your big day, and upload a few photos.
      </p>
      <a class="c-how__step-view block" href="#">
        <svg class="c-icon"><use xlink:href="#icon-preview"></use></svg>
        View a sample registry
      </a>
    </div>
    <div class="c-how__visual flex-2" style="background-color: transparent; background-image: url('<%=image_url('sample-registry-laptop.jpg')%>'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;">
    </div>
  </div>
  <div class="r-flex mb--xl" style="position: relative;">
    <div class="c-how__visual flex-2" style="background-color: transparent; background-image: url('<%=image_url('step-two.jpg')%>'); background-size: contain; background-repeat: no-repeat;">
    </div>
    <div class="c-how__step flex-2">
      <span class="c-how__step-number block mb">Step Two</span>
      <h4 class="c-how__step-title purple mb--small">Select a project to support.</h4>
      <p class="c-how__step-description mb">
        Browse vetted charitable projects by region or issue and select your favorite one.
      </p>
    </div>
  </div>
  <div class="r-flex mb--large">
    <div class="c-how__step flex-2">
      <span class="c-how__step-number block mb">Step Three</span>
      <h4 class="c-how__step-title purple mb--small">See the impact.</h4>
      <p class="c-how__step-description mb">
        After your wedding, you and your guests will receive an update on how the project is helping people.
      </p>
    </div>
    <div class="c-how__visual flex-2" style="background-color: transparent; background-image: url('<%=image_url('homepage-step-three.jpg')%>'); background-size: contain; background-repeat: no-repeat; height: 300px; margin-top: -25px;">

    </div>
  </div>
</div>

<div class="c-breaker dark-purple center mb--large">
  <svg class="c-icon c-icon--medium mb--small" style="fill: #C0BDDE;"><use xlink:href="#icon-smile"></use></svg>
  <h3 class="roboto large mb">Heartful.ly is free for couples. Free for nonprofits.</h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<div class="c-how test pad">
  <h3 class="c-how__title center subhed purple mb--large">Projects We Love</h3>
  <%= render "shared/project_mini" %>
  <%= render "shared/project_mini" %>
</div>

<!-- impact breaker -->
<div class="c-breaker c-breaker--impact dark-purple center mb" style="background-image: url(<%=image_url('impact-crop.jpg')%>); background-size: cover; background-position: 100% 50%;">
  <div class="meta meta--ul">Our impact</div>
  <div class="content roboto xl">Heartful.ly registries have raised over <em>$14,456</em> for people in need.</div>
</div>

<div class="c-how test pad">
  <h3 class="c-how__title center subhed purple mb">Selected Partners</h3>
  <div class="mb--large center">Heartful.ly is proud to partner with these established organizations.</div>
  <div class="c-partners r-flex mb">
    <img src="<%=image_url('partners/logo-futbol.png')%>" class="c-partners__logo">
    <img src="<%=image_url('partners/logo-mh.png')%>" class="c-partners__logo">
    <img src="<%=image_url('partners/logo-olivebranch.png')%>" class="c-partners__logo">
    <img src="<%=image_url('partners/logo-solaraid.png')%>" class="c-partners__logo">
    <img src="<%=image_url('partners/logo-streetsense.jpg')%>" class="c-partners__logo">
  </div>
</div>

<div class="line"></div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 2px solid #7D72DE;">share the love?</span></h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<%= render "shared/footer" %>
