<%= render "shared/svg" %>

<%= render "shared/nav" %>
<header class="c-hero" style="background-image: url('http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg');">
  <div class="c-hero__container">
    <h1 class="c-hero__home ma mb">
      Celebrate your big day by<br/>
      making someone else's.
    </h1>
    <div class="">
      <button class="c-button c-button--primary mb">Create a charitable wedding registry</button>
      <a href="#" class="c-hero__video block ma"><svg class="c-icon c-icon--white" style="margin: -2px 0 0 5px;"><use xlink:href="#icon-play"></use></svg> See how it works</a>
    </div>
  </div>
</header>

<div class="test">
  <div class="c-breaker">
    <div class="c-subhed">
      <svg class="c-icon"><use xlink:href="#icon-globe"></use></svg>
      <h2 class="c-subhed__text c-subhed__text--home">
        Heartful.ly is a wedding registry for charitable giving.
      </h2>
    </div>
  </div>
</div>
<div class="line"></div>

<div class="c-how test pad">
  <h3 class="c-how__title center subhed purple mb--xl">How It Works</h3>
  <div class="flex mb--xl">
    <div class="c-how__step flex-2">
      <span class="c-how__step-number block mb">Step One</span>
      <h4 class="c-how__step-title purple mb--small">Create and personalize your registry.</h4>
      <p class="c-how__step-description mb">
        Choose a unique URL, share some basic information about your big day, and upload a few photos.
      </p>
      <a class="c-how__step-view block" href="#">View a sample registry</a>
    </div>
    <div class="c-how__visual flex-2">
    </div>
  </div>
  <div class="flex mb--xl">
    <div class="c-how__visual flex-2">
    </div>
    <div class="c-how__step flex-2">
      <span class="c-how__step-number c-how__step-number--odd block mb">Step Two</span>
      <h4 class="c-how__step-title purple mb--small">Select a project to support.</h4>
      <p class="c-how__step-description mb">
        Browse vetted charitable projects by region or issue and select your favorite one.
      </p>
    </div>
  </div>
  <div class="flex mb--large">
    <div class="c-how__step flex-2">
      <span class="c-how__step-number block mb">Step Three</span>
      <h4 class="c-how__step-title purple mb--small">See the impact.</h4>
      <p class="c-how__step-description mb">
        After your wedding, you and your guests will receive an update on how the project is helping people.
      </p>
    </div>
    <div class="c-how__visual flex-2">

    </div>
  </div>
</div>

<div class="c-breaker dark-purple center mb--large">
  <h3 class="roboto large mb">Heartful.ly is free for couples. Free for nonprofits.</h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<div class="c-how test pad">
  <h3 class="c-how__title center subhed purple mb--xl">Projects We Love</h3>
  <%= render "shared/project_mini" %>
  <%= render "shared/project_mini" %>
</div>

<!-- impact breaker -->
<div class="c-breaker c-breaker--impact dark-purple center" style="background-image: url('http://cdn2.stocksy.com/a/pol100/z0/422147.jpg'); background-size: cover; min-height: 300px; background-position: 50% 50%;">
  <div class="meta meta--ul">Our impact</div>
  <div class="content roboto xl">Heartful.ly registries have raised over <em>$14,456</em> for people in need.</div>
</div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status"><use xlink:href="#icon-globe"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 1px solid purple;">share the love?</span></h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<%= render "shared/footer" %>
