<%= render "shared/svg" %>

<%= render "shared/nav" %>
<%= render "shared/status" %>

<%= render "shared/project_header" %>
<%= render "shared/project_summary" %>
<%= render "shared/project_about" %>
<%= render "shared/quote" %>
<%= render "shared/project_details" %>
<%= render "shared/registry_card" %>
<div class="test">
  <div class="meta mb--large" style="margin-top: 80px; text-align: center;">Browse More Projects</div>
  <%= render "projects/project_mini" %>
  <button class="c-button mb--xl block ma">browse all projects &rarr;</button>
</div>
<%= render "shared/footer" %>
