<%= render "shared/svg" %>

<%= render "shared/nav" %>
<%= render "shared/hero" %>
<%= render "shared/breaker" %>
<%= render "shared/paragraph" %>
<div class="test">
<%= render "shared/project_tabbed" %>
</div>
<%= render "shared/registry_card" %>
<div class="test">
  <div class="c-breaker">
      <div class="c-subhed">
        <div class="center">
        <svg class="c-icon c-icon--large mb"><use xlink:href="#icon-champagne"></use></svg>
        </div>
        <h3 class="c-subhed__info">
          Thank you
        </h3>
        <h2 class="c-subhed__text">
          Your gift has made a difference.
        </h2>
      </div>
  </div>
</div>
<%= render "shared/footer" %>
