<%= form_for :session, :url => session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, :type => 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="remember-me">
    <%= form.label :remember_me, class: "checkbox inline" do %>
      <%= form.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <%= link_to "Sign Up", sign_up_path %>
    <%= link_to "Forgot Password", new_password_path %>
  </div>
<% end %>
