= form_for :session, :url => session_path do |form|
  - if flash[:notice]
    .error.mb= flash[:notice]
  .mb
    = form.text_field :email, :type => 'email', :placeholder => "Email address", class: "input-sm"
  .mb
    = form.password_field :password, :placeholder => "Password (8 or more characters)", class: "input-sm"
  .mb
    = form.submit "Log In", :class => "c-button c-button--primary input-sm"
  .small.purple
    = link_to "Sign Up", sign_up_path, class: 'underline launchSignupModal'
    |
    \#{link_to "Forgot Password", new_password_path, class: 'underline'}
