= form_for :user, :url => users_path do |form|
  .mb
    = form.text_field :email, :type => 'email', :placeholder => "Email address", class: "input-sm"
  .mb
    = form.password_field :password, :placeholder => "Password (8 or more characters)", class: "input-sm"
  .mb
    = form.submit "Start Your Registry", :class => "c-button c-button--primary input-sm"
  %p.mb.small
    By creating your Heartful.ly account you agree to our
    = link_to "Terms of Use", terms_of_use_path, class: "purple"
    and
    = succeed "." do
      = link_to "Privacy Policy", privacy_policy_path
%p.small
  Already a member? #{link_to "Log in", sign_in_path, class: "launchLoginModal"}
