<footer class="c-footer">
  <div class="test r-flex">
    <div class="c-footer__logo">
        <svg class="c-nav__logo" style="fill: white; height: 100px; margin-left: 0;" viewbox="0 0 275.5 71.5" preserveAspectRatio="xMinYMax meet">
              <use xlink:href="#icon-logo-logotype"></use>
        </svg>
    </div>
    <ul class="c-footer__list">
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/partner-with-us">Partner With Us</a></li>
        <li><a href="/our-partners">Our Partners</a></li>
        <li><a href="mailto:info@heartful.ly">Contact Us</a></li>
    </ul>
    <ul class="c-footer__list">
        <% if current_user && current_user.registry %>
          <li><%= link_to 'Manage Your Registry', registry_admin_path(current_user.registry.url_slug) %></li>
        <% elsif current_user %>
          <li><%= link_to 'Create a Registry', user_path(current_user) %></li>
        <% else %>
          <li><%= link_to 'Create a Registry', new_user_path, class: "launchSignupModal" %></li>
        <% end %>
        <li><%= link_to 'Browse Projects', projects_path %></li>
        <li><a href="/faq">FAQ</a></li>
      <li><a href="http://blog.heartful.ly" target="_blank">Blog</a></li>
    </ul>

    <ul class="c-footer__social">
      <li><a href="https://www.facebook.com/beheartful/?fref=nf" target="_blank"><svg class="c-icon c-icon--white c-icon--medium"><use xlink:href="#icon-facebook"></use></svg></a></li>
      <li><a href="https://twitter.com/heartful_ly" target="_blank"><svg class="c-icon c-icon--white c-icon--medium"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href="https://www.instagram.com/heartful.ly/" target="_blank"><svg class="c-icon c-icon--white c-icon--medium"><use xlink:href="#icon-instagram"></use></svg></a></li>
        <div class="footer-form stacked" id="mc_embed_signup">
        <form action="//heartful.us9.list-manage.com/subscribe/post?u=ba087ef985b740ee023cb4d34&amp;id=83d8300bce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Keep in touch!</label>
            <input type="email" value="" name="EMAIL" class="block" id="mce-EMAIL" placeholder="Your email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ba087ef985b740ee023cb4d34_83d8300bce" tabindex="-1" value=""></div>
            <input class="c-button c-button--primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </div>
        </form>
        </div>
    </ul>
  </div>
  <div class="c-footer__terms nudge-top">
      Copyright 2016 Heartful.ly. All rights reserved.<br />
      <%= link_to "Terms of Use", terms_of_use_path %> - <%=link_to "Privacy Policy", privacy_policy_path %>
  </div>
</footer>
<%= render "shared/google_analytics" %>
