<title>
  <%= "#{yield(:page_title)} | " if content_for?(:page_title) %> Heartful.ly
</title>

<!-- Loading Google web fonts -->
<link href='//fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Hind:400,300,500,700,600' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag('application', media: 'all') %>
<%= javascript_include_tag "vendor/modernizr" %>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% if(controller_name == "registries" && action_name == "show") %>
  <% if(params[:url_slug] == "sample") %>
    <!-- Sample Registry -->
    <meta property="og:url" content="https://www.heartful.ly/registry/sample"/>
    <meta property="og:description" content="Create a charitable wedding registry and share your happily ever after with the world." />
    <meta property="og:image" content="https://cdn.rawgit.com/Heartfully/registry-images/master/nicole_and_emery/nicole_and_emery_banner.png" />
  <% else %>
    <!-- Couples Registries -->
    <meta property="og:title" content="Heartful.ly Wedding Registry: <%= @registry.name %>"/>
    <meta property="og:url" content="https://www.heartful.ly/registry/<%= @registry.url_slug %>"/>
    <meta property="og:description" content="<%= @registry.description %>" />
    <meta property="og:image" content="<%= @registry.banner_image %>" />
  <% end %>
<% else %>
  <!-- Homepage and any other page -->
  <meta property="og:title" content="Heartful.ly"/>
  <meta property="og:url" content="https://www.heartful.ly/"/>
  <meta property="og:description" content="Create a charitable wedding registry and share your happily ever after with the world." />
  <meta property="og:image" content="https://cdn.rawgit.com/Heartfully/registry-images/master/homepage/heartfully_logo_3.png" />
<% end %>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<!-- Make sure og:image is a png image  -->
<meta property="og:image:type" content="image/png" />

<%= csrf_meta_tags %>
