<title>
  <%= "#{yield(:page_title)} | " if content_for?(:page_title) %> Heartful.ly
</title>

<%= stylesheet_link_tag('application', media: 'all') %>
<%= javascript_include_tag "vendor/modernizr" %>

<link href='//fonts.googleapis.com/css?family=Pacifico|Hind:400,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="Heartful.ly"/>
<meta property="og:description" content="Create a charitable wedding registry and share your happily ever after with the world." />
<% if(controller_name == "registries" && action_name == "show") %>
  <% if(params[:url_slug] == "sample") %>
    <meta property="og:url" content="https://www.heartful.ly/registry/sample"/>
    <meta property="og:image" content="https://cdn.rawgit.com/Heartfully/registry-images/master/nicole_and_emery/nicole_and_emery_banner.png" />
    <meta property="og:image:type" content="image/png" />
  <% else %>
    <% if(@registry.url_slug == "wangama") %>
      <meta property="og:url" content="https://www.heartful.ly/<%= @registry.url_slug %>"/>
    <% else %>
      <meta property="og:url" content="https://www.heartful.ly/registry/<%= @registry.url_slug %>"/>
    <% end %>
    <% if(@registry.banner_img[-3..-1] == "png") %>
      <meta property="og:image:type" content="image/png" />
    <% elsif(@registry.banner_img[-3..-1] == "jpg") %>
      <meta property="og:image:type" content="image/jpg" />
    <% elsif(@registry.banner_img[-4..-1] == "jpeg") %>
      <meta property="og:image:type" content="image/jpeg" />
    <% end %>
  <% end %>
<% else %>
  <meta property="og:url" content="https://www.heartful.ly/"/>
  <meta property="og:image" content="http://i.imgur.com/PdzJH9c.png" />
  <meta property="og:image:type" content="image/png" />
<% end %>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<%= csrf_meta_tags %>