<% if @registry.present? && @registry.projects.present? %>
    <% if @registry.url_slug == 'holidays' %>
        <title>This holiday season, give heartfully</title>
        <meta property="og:title" content="This holiday season, give heartfully.">
        <meta property="og:url" content="https://www.heartful.ly/holidays">
        <meta property="og:description" content="Click here to donate in honor of your loved ones and support Mercy Corps' life-saving work." >
        <meta property="og:image" content="<%= image_url('holiday_campaign_hero.jpg') %>">
    <% elsif @registry.url_slug == 'valentinesday' %>
      <title>This Valentine’s Day, give relief to Syrian refugee families.</title>
      <meta property="og:title" content="This Valentine’s Day, give relief to Syrian refugee families.">
      <meta property="og:url" content="https://www.heartful.ly/valentinesday">
      <meta property="og:description" content="Purchase life-changing gifts for people in need and dedicate them to the people you love." >
      <meta property="og:image" content="<%= image_url('facebook-valentine.jpg') %>">
    <% else %>
      <title>Heartful.ly Wedding Registry: <%= @registry.display_name %></title>
      <% if @registry.is_a?(Birthday) %>
        <meta property="og:url" content="https://www.heartful.ly/birthday/<%= @registry.url_slug %>">
        <meta property="og:image" content="<%= @registry.banner_image %>">
        <%# BOO HISS %>
        <% if @registry.url_slug == "hbdheartfully" %>
          <meta property="og:title" content="Click here to donate to Heartful.ly's birthday fundraiser for Martha's Table.">
          <meta property="og:description" content="Heartful.ly is a donation platform for celebrating life's biggest moments in a more meaningful way." >
        <% else %>
          <meta property="og:title" content="Click here to donate to <%= @registry.reference_name %>'s birthday fundraiser!">
          <meta property="og:description" content="Celebrate <%= @registry.reference_name %>'s big day with a donation to <%= @registry.projects.first.organization.name %>." >
        <% end %>
      <% else %>
        <meta property="og:title" content="Click here to donate to <%= @registry.display_name %>'s charitable wedding registry!">
        <meta property="og:url" content="https://www.heartful.ly/registry/<%= @registry.url_slug %>">
        <meta property="og:description" content="Celebrate their big day with a donation in their honor to <%= @registry.projects.first.organization.name %>." >
        <meta property="og:image" content="<%= @registry.banner_image %>">
      <% end %>
    <% end %>

<% else %>
  <title>Heartful.ly | The Wedding Registry for Charitable Giving</title>
  <meta name="description" content="Heartful.ly is a wedding registry that empowers couples and their wedding guests to support and fund charitable  projects in the U.S. and around the world." >
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Heartful.ly">
  <meta itemprop="description" content="Heartful.ly empowers couples and their wedding guests to fund charitable projects around the world.">
  <meta itemprop="image" content=<%=image_path("heartfully-home.jpg")%>>
  <!-- Twitter Card data -->
  <meta name="twitter:card" content=<%=image_path("heartfully-home.jpg")%>>
  <meta name="twitter:site" content="@heartful_ly">
  <meta name="twitter:title" content="Heartful.ly wedding registry">
  <meta name="twitter:description" content="Heartful.ly empowers couples and their wedding guests to fund charitable projects around the world.">
  <meta name="twitter:creator" content="@heartful_ly">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content=<%=image_path("heartfully-home.jpg")%>>
  <!-- Open Graph data -->
  <meta property="og:title" content="Heartful.ly | The Wedding Registry for Charitable Giving" >
  <meta property="og:type" content="article" >
  <meta property="og:url" content="https://www.heartful.ly/" >
  <meta property="og:image" content=<%=image_path("heartfully-home.jpg")%> >
  <meta property="og:description" content="Heartful.ly empowers couples and their wedding guests to fund charitable projects around the world." >
  <meta property="og:site_name" content="Heartful.ly" >

<% end %>

<%# BOO HISS %>
<% if @registry.present? && @registry.url_slug == "hbdheartfully" %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@heartful_ly">
  <meta name="twitter:title" content="Celebrate your big day by making someone else's.">
  <meta name="twitter:description" content="With Heartful.ly your wedding, birthday, anniversary, or Friendsgiving can change lives!">
  <meta name="twitter:image" content="<%= image_url("heartfully-cake.png")%>">
<% end %>

<meta charset="utf-8">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >

<!-- Pinterest -->
<meta name="p:domain_verify" content="ac72dd2f9bf5ce9894c2f7181374cefa"/>

<%= stylesheet_link_tag('application', media: 'all') %>
<%= javascript_include_tag "vendor/modernizr" %>

<%= csrf_meta_tags %>
