%header.c-nav.c-nav--transparent
  .c-nav__logo-wrapper
    %a{:href => "/"}
      %svg.c-nav__logo.c-nav__logo--logotype{:preserveaspectratio => "xMinYMax meet", :viewbox => "0 0 275.5 71.5"}
        %use{"xlink:href" => "#icon-logo-logotype"}
      %svg.c-nav__logo.c-nav__logo--mark{:preserveaspectratio => "xMinYMax meet", :viewbox => "0 0 135.4 135.4"}
        %use{"xlink:href" => "#icon-logo-logomark"}
  %ul.c-nav__menu
    %li.c-nav__menu-item= link_to 'About Us', about_us_path
    %li.c-nav__menu-item= link_to 'How It Works', how_it_works_path
    %li.c-nav__menu-item= link_to "Browse Projects", projects_path
    %li.c-nav__menu-item
      %a{:href => "/faq"} FAQ
    %li.c-nav__menu-item.launchLoginModal
      = link_to 'Log In', sign_in_path
    %li.c-nav__menu-item.launchSignupModal
      = link_to 'Sign Up', sign_up_path
  .c-nav__menu-indicator MENU
  %ul.c-nav__mobile-menu.inactive
    .c-nav__mobile-menu--close
      %svg.c-icon.c-icon--medium.mb
        %use{"xlink:href" => "#icon-close"}
    %li.c-nav__menu-item
      %a{:href => "/about-us"} About Us
    %li.c-nav__menu-item= link_to "Browse Projects", projects_path
    %li.c-nav__menu-item
      %a{:href => "/our-partners"} Our Partners
    %li.c-nav__menu-item
      %a{:href => "/faq"} FAQ
    %li.c-nav__menu-item= link_to 'Log In', sign_in_path
    %li.c-nav__menu-item= link_to 'Sign Up', sign_up_path
%div