.modal-content
  .modal-header
    %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
      %span{aria: {hidden: "true"}} &times;
  .modal-body
    .project-header.mb
      %h3.title= project.name
      .partner-container
        .small.quiet.mb--small
          = project.organization.name
          %ul.c-project-about__meta
            %li
              %svg.c-icon.c-icon--inline{title: "location"}
                %use{"xlink:href" => "#icon-map"}
              = project.country
            %li
              %svg.c-icon.c-icon--inline{title: "location"}
                %use{"xlink:href" => "#icon-link"}
              = link_to project.organization.org_url, project.organization.org_url, target: "_blank"
        .partner-image
          = link_to image_tag(project.organization.logo_url, style: 'width: 50px; height: 50px; display: inline-block; vertical-align: middle;'), project.organization.org_url, target: "_blank"
    .project-body
      .project-photo.mb{style: "background-image: url(#{project.photo2_url})"}
      .project-info
        .mb
          .meta.quiet.mb--small The Problem
          = simple_format project.problem
        .mb
          .meta.quiet.mb--small The Solution
          = simple_format project.solution
        .mb
          .meta.quiet.mb--small Sustainability
          = simple_format project.sustainability
    %button.c-button.c-button--primary{data: {dismiss: "modal"}, aria: {label: "Close"}}
      Back to registry