<!-- <nav class="top-bar-section"> -->
  <ul class="right">
    <li class="has-dropdown not-click">
      <a href="#">
        <img class="profile-circular" src="<%= user_avatar(current_user) %>">
      </a>
      <ul class="dropdown">
        <% if current_user.registry %>
        <li>
          <%= link_to "Our Registry", registry_path %>
        </li>
        <li>
          <%= link_to "Registry Settings", edit_registry_path %>
        </li>
        <% else %>
        <li>
          <%= link_to "Create Registry", new_registry_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "Favorite Projects", "#" %>
        </li>
        <li>
          <%= link_to 'Sign out', sign_out_path, :method => :delete %>
        </li>
      </ul>
    </li>
  </ul>
<!-- </nav> -->