<div class="row footer-pages about-us">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 ">
    <h1 class="text-center"><span><strong>About Us</strong></span></h1>
    <p></p>
  </div>
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 ">
    <h3 class="text-center"><span><strong>OUR MISSION</strong></span></h3>
    <p>
      <span id="logo-font"><strong>Heartful.ly</strong></span> celebrates life’s most important moments by connecting couples and their communities to locally-driven infrastructure and development projects around the world through a charitable gift registry platform. With its unique, personalized take on crowdfunding, Heartful.ly transforms weddings into vehicles for positive social change. 
    </p>
  </div>

  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0">
    <h3 class="text-center"><span><strong>OUR STORY</strong></span></h3>
    <p>
      <span id="logo-font">Heartful.ly</span> was born in a rural Tanzanian village where founder Kate Glantz served as a Peace Corps Volunteer from 2008-2010.  After a storm destroyed every latrine at the primary school where she taught, the community quickly mobilized to build temporary replacements out of mud and thatch.  The structure wouldn't last longer than a month, but there was simply no money for a long-term solution.
    </p>
    <p>
      Witnessing a trifecta of urgent need, community support, and a clear roadmap from start to finish, Kate and her village counterpart wrote a grant proposal for new latrines.
    </p>
    <div class="columns large-6 medium-6 small-12 text-center">
      <%= image_tag("footer-pages/destroyed_latrine.png") %>
      <h4 class="reg-text primary-color"><strong>Destroyed latrines</strong></h4>
    </div>
    <div class="columns large-6 medium-6 small-12 text-center">
      <%= image_tag("footer-pages/latrine.png") %>
      <h4 class="reg-text primary-color"><strong>Rebuilt latrines</strong></h4>
    </div>
    <p>
      As she was developing a supply list for new toilets, several of her friends were itemizing slightly more glamorous lists of their own -- for their wedding registries. It hit her like a ton of bricks! How wonderful and symbolic would it be to create a wedding registry for social good?
    </p>
    <p>
      Testing out the theory that people would enjoy donating to a wishlist of real items, she measured goals not in dollars and cents, but in bricks and cement! Her family and friends took so much pride in knowing exactly how their money was used.
    </p>
    <p>
      With this direct connection to real materials and a specific community, the $3,000 proposal was funded in three days. Kate was blown away by the generosity of her loved ones and is eager to replicate this form of connected giving with communities around the world.
    </p>
  </div>

  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0">
    <h3 class="text-center"><span><strong>OUR TEAM</strong></span></h3>
    <p></p>
    <div class="columns large-6 large-offset-3 medium-6 medium-offset-3 small-12 small-offset-0 team">
      <div class="text-center"><%= image_tag("footer-pages/KateG.jpeg") %></div>
        <div class="team-description">
        <h4>Kate Glantz</h4>
        <h5>Founder</h5>
        <a href="https://twitter.com/kateglantz" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/kateglantz" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
    <div class="columns large-4 medium-4 small-12 team">
      <div class="text-center"><%= image_tag("footer-pages/seanS.jpg") %></div>
      <div class="team-description">
        <h4>Sean Shannon</h4>
        <h5>Lead Developer</h5>
        <a href="https://twitter.com/seans887" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://github.com/seans887" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
    <div class="columns large-4 medium-4 small-12 team">
      <div class="text-center"><%= image_tag("footer-pages/coreyS.jpg") %></div>
      <div class="team-description">
        <h4>Corey Speisman</h4>
        <h5>Developer</h5>
        <a href="https://twitter.com/cdspeis" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://github.com/cspeisman" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
    <div class="columns large-4 medium-4 small-12 team">
      <div class="text-center"><%= image_tag("footer-pages/salh.jpg") %></div>
      <div class="team-description">
        <h4>Sal Hernandez</h4>
        <h5>Developer</h5>
        <a href="https://twitter.com/clickclickonsal" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://github.com/clickclickonsal" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>

  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 end">
    <h3 class="text-center"><span><strong>Advisory Board</strong></span></h3>
    <p></p>
     <div class="columns large-4 medium-4 small-12 team">
      <div class="team-description">
        <h4>Sheila Campbell</h4>
        <h5>Director of Digital Integration</h5>
        <h5>Peace Corps</h5>
      </div>
    </div>
     <div class="columns large-4 medium-4 small-12 team">
      <div class="team-description">
        <h4>Chris Hedrick</h4>
        <h5>CEO</h5>
        <h5>Kepler University</h5>
        
      </div>
    </div>
     <div class="columns large-4 medium-4 small-12 team">
      <div class="team-description">
        <h4>Carl Valentstein</h4>
        <h5>Partner</h5>
        <h5>Morgan Lewis & Bockius LLP</h5>
        
      </div>
    </div>
  </div>
</div>