<div class="mb--large">
  <div class="test center">
    <h1 class="c-project-header__title">About Heartful.ly</h1>
  </div>
</div>

<div class="c-breaker mb--large" style="background-image: url(<%=image_url('about-banner.jpg')%>); background-size: cover; background-position: 50% 50%; height: 300px; margin-top: 80px;"></div>

<div class="test pad" style="margin-bottom: 70px;">
  <div class="c-subhed center">
    <svg class="c-icon mb" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
    <h2 class="c-subhed__text c-subhed__text--home">
      Making the world a better place — one celebration at a time.
    </h2>
  </div>
</div>

<div class="c-breaker purple mb--large">
  <div class="test center large pad-lr">
    Heartful.ly is a gift registry for celebrating life’s biggest moments by giving back to those in need.
  </div>
</div>


  <div class="test pad" style="margin-bottom: 70px;">
    <h3 class="c-how__title center subhed purple mb--large">Our Story</h3>
    <div class="ma" style="max-width: 500px; font-size: 1.2em;">
      <p class="mb">Heartful.ly’s story begins in a tiny village in Tanzania where I served as a Peace Corps Volunteer. While my community was poor by every standard, they knew better than any how to celebrate life.</p>
      <p class="mb">For these celebrations — mainly weddings — we would eat and drink long into the night. Even strangers were welcomed and fed. The heart and generosity of spirit that sustained my community, has influenced the way I celebrate now, too.</p>
      <p class="mb">That’s why I created Heartful.ly. I believe that life’s most important moments are the best times to give back. I also believe that when our communities unite around these moments, we have the power and opportunity to do great things.</p>
      <p class="mb">Heartful.ly is a platform for all of us to share love where it's needed most.</p>
      <p>xo,<br />
      <strong>KATE GLANTZ</strong><br />
      Founder, CEO</p>
    </div>
  </div>


<div class="line mb--large"></div>

<div class="pad auto-margin center" style="margin-bottom: 70px;">
  <h3 class="c-how__title subhed purple mb--large" style="font-size:;">As Seen In</h3>
  <%= render 'shared/press_bar' %>
  <button class="c-button c-button--primary"><%= link_to 'See more', press_path %></button>
</div>

<div class="line mb--large"></div>


<div class="pad center test" style="margin-bottom: 70px;">
  <h3 class="c-how__title center subhed purple mb--large">Meet The Team</h3>
  <div class="ma pad">
    <div class="inline" style="margin-right: 2em;">
      <img class="inline mb" src="<%=image_url('team-kate.png')%>" style="max-width: 250px;">
      <p><strong>Kate Glantz</strong><br/>Co-Founder and CEO</p>
      <a target="_blank" style="color: #7D72DE;" href="http://twitter.com/kateglantz">@kateglantz</a>
    </div>
    <div class="inline">
      <img class="inline mb" src="<%= image_url('team-alex.jpg')%>" style="max-width: 250px;">
      <p><strong>Alex Leach</strong><br/>Co-Founder and CTO</p>
      <a target="_blank" style="color: #7D72DE;" href="http://twitter.com/aleach84">@aleach84</a>
    </div>
  </div>
</div>

<div class="line mb--large"></div>

<div class="pad test center" style="margin-bottom: 70px;">
  <h3 class="c-how__title subhed purple mb--large" style="font-size:;">What makes our heart full?*</h3>
  <ul class="values r-flex block">
    <li class="values__item">
      <svg class="c-icon c-icon--large mb"><use xlink:href="#icon-smile"></use></svg>
      <h4 class="values__name mb--small">Kindness</h4>
      <p style="font-size: 1.1em;">It’s a topsy turvy world out there so be nice!</p>
    </li>
    <li class="values__item">
      <svg class="c-icon c-icon--large mb"><use xlink:href="#icon-globe"></use></svg>
      <h4 class="values__name mb--small">Impact</h4>
      <p style="font-size: 1.1em;">We all have a role to play.</p>
    </li>
    <li class="values__item">
      <svg class="c-icon c-icon--large mb" style="stroke: #777;"><use xlink:href="#icon-rings"></use></svg>
      <h4 class="values__name mb--small">Equality</h4>
      <p style="font-size: 1.1em;">People are people and love is love.</p>
    </li>
    <li class="values__item">
      <svg class="c-icon c-icon--large mb" style="stroke: #777;"><use xlink:href="#icon-mustache"></use></svg>
      <h4 class="values__name mb--small">Originality</h4>
      <p style="font-size: 1.1em;">Do you. It’s a lot more fun that way.</p>
    </li>
  </ul>
  <p class="nudge-top quiet small">*We also love family, friends, and breakfast for dinner.</p>
</div>

<div class="line"></div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 2px solid #7D72DE;">share the love?</span></h3>
  <button class="c-button c-button--primary"><%= link_to 'Create a registry', new_registry_path %></button>
</div>
