%header.c-hero.birthday-hero
  %video.video__player{:autoplay => "", :loop => "", style: "position: relative; width: 100%; height: auto; background-color: #A486C8;"}
    %source{:src => asset_path("birthday.mp4"), :type => "video/mp4"}
  .c-hero__container
    %h1.c-hero__home.ma.mb
      Celebrate your big day by making someone else’s
    %h4.mb
      This year, raise money for a cause close to your heart.
    %div
      = link_to "Dedicate my birthday", new_registry_path, class: "c-button c-button--primary hero-cta launchSignupModal"
.c-how.test.pad
  .birthday-how-it-works.r-flex.mb--large
    .birthday-how-text.flex-field-2
      %h3.center.subhed.purple.mb--large How it works
      .birthday-step
        .birthday-number 1
        %p Browse our gallery of nonprofit partners and select the project you want to support.
      .birthday-step
        .birthday-number 2
        %p Upload a few photos and let your friends and family know why you’re passionate about the cause.
      .birthday-step
        .birthday-number 3
        %p We’ll take care of the rest, including sending an impact update to everyone who donated in your honor.
    .birthday-how-image.flex-field-2
      = image_tag image_url("birthday-how-it-works.png")
.line
.c-breaker.dark-purple.center.mb
  %h3.mb Your birthday can change lives. Now that is something to celebrate!
  = link_to "Dedicate my birthday", new_registry_path, class: "c-button c-button--primary birthday-button launchSignupModal"
.c-how.test.pad
  %h3.c-how__title.center.subhed.purple.mb--large Celebrate With Us
  .r-flex.mb--large
    - @birthdays.first(3).each do |birthday|
      .birthday-container.flex-field-3
        = link_to "/birthday/#{birthday.url_slug}" do
          - if birthday.profile_image.present?
            .birthday-image{style: "background-image: url('#{birthday.profile_image}'); border-radius: 50%;"}
          - else
            %svg.birthday-icon.ma{:preserveaspectratio => "xMinYMax meet", :viewbox => "0 0 512 512"}
              %use{"xlink:href" => "#confetti"}
        = link_to "/birthday/#{birthday.url_slug}" do
          .birthday-info
            %p.mb--small= birthday.registrant_first_name
            %p.purple.mb--small View Wishlist
.line
.c-how.test.pad
  %h3.c-how__title.center.subhed.purple.mb--large Support A Project You Love
  / = render "projects/project_mini"
  .r-flex.mb--large
    - @projects.first(3).each do |project|
      .c-project-mini.c-project-mini__homepage
        = link_to "/projects/#{project.url_slug}" do
          .c-project-mini__header{style: "background-image: url('#{project.photo1_url}')"}
            .c-project-mini__title= project.name
            .c-project-tabbed__header--overlay
        .c-project-mini__info
          %p= truncate(project.description, length: 200)
          = link_to 'Learn more', "/projects/#{project.url_slug}", class: "c-button c-button--primary block nudge-top stretch", style: "text-align: center; color: white;"
  .test.center
    %button.c-button.center= link_to 'View all Projects', projects_path