<div class="row">
  <div id="banner-container" class="hero-banner">
    <div class=" large-12 columns">
      <h1>Build Love<br/>Where it's needed most</h1>
      <%= link_to "Create Your Registry", new_registry_path, :id => "cta-button", :class => "button large" %>
    </div>
    <a href="#heartfully-sum"><i class="fa fa-caret-down"></i></a>
  </div>
</div>

<section class="row heartfully-summary" id="heartfully-sum">
  <div class="large-6 columns">
    <h2>Heartful.ly</h2>
    <p>Create a charitable wedding registry and share your happily ever after with the world.</p>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right xlarge-only-text-right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mzx4HhHIUx4" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="row heartfully-how-it-works">
  <div class="row">
    <div class="large-12 columns"><h2><span class="line-center">How It Works</span></h2></div>
  </div>
  <div class="row">
    <div class="large-12 columns how-it-works-paragraph"><p>Heartful.ly is a wedding registry platform for couples that want to support specific infrastructure and development projects around the world.</p></div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-3 columns">
      <h2>Explore</h2>
      <div class="row"><%= image_tag "homepage/explore_icon.png", alt: "Exlpore Icon" %></div>
      <p>Whether you're passionate about alternative energy, healthy moms and babies or clean drinking water, you can create a wedding registry that reflects your values.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Confirm</h2>
      <div class="row"><%= image_tag "homepage/confirm_icon.png", alt: "Exlpore Icon" %></div>
      <p>Found "the one?"  Select the project you'd like to support and we'll set up your registry webpage. The project you choose will be transformed into individual gifts like pallets of bricks and buckets of paint.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Customize</h2>
      <div class="row"><%= image_tag "homepage/customize_icon.png", alt: "Exlpore Icon" %></div>
      <p>We turn the reins over to you to write a message to your guests and add photos. When you're ready, share your registry using the URL of your choice.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Give</h2>
      <div class="row"><%= image_tag "homepage/build_icon.png", alt: "Exlpore Icon" %></div>
      <p>On your wedding day, we transfer your guests' donations to the organization implementing the project. You and your guests will receive multimedia updates as the work progresses.
      </p>
    </div>
  </div>
</section>

<section class="row heartfully-projects-we-love">
  <div class="row project-container">
    <h2>Projects We Love</h2>
    <h3><a href="#" class="button small">View More Projects</a></h3>
    <div class="row">
      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "matt_and_lindsey/matt_and_lindsey_project_photo.jpg", alt: "Mufindi Village Image" %>
        <h4>LAUNCH THREE EARLY EDUCATION PROGRAMS IN TANZANIA</h4>
        <h4><a href="" data-reveal-id="js-learn-more-modal-1"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-1" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>

          <p>The Wangama dispensary is fortunate to have a village doctor, a midwife, and two nurses on staff who are able to support villagers with basic medications and health counseling. Once constructed, the new ward will enable HIV patients to receive antiretroviral medications, have their CD4 count checked, and receive general counseling--including nutrition and sexual health--with a physician.<br />
          The closest clinic to Wangama is a 5-6 hour round-trip walk from the village, a tiring hike that requires at least one missed day of farming.  As such, many people living with HIV/AIDS  from Wangama opt out of the journey to the nearest clinic.  Let's help bring the clinic to them so they are more likely to get the medical attention they require and deserve!  
          </p>

        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "marissa_and_travis/follow_up interviews.jpg", alt: "Three boys smiling" %>
        <h4>LIGHT UP THE NIGHT WITH A SOLAR ENERGY CAMPAIGN FOR ZAMBIAN FAMILIES</h4>
        <h4><a href="" data-reveal-id="js-learn-more-modal-2"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-2" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>

          <p>The Wangama dispensary is fortunate to have a village doctor, a midwife, and two nurses on staff who are able to support villagers with basic medications and health counseling. Once constructed, the new ward will many peoely to get the medical attention they require and deserve!  
          </p>

        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "marissa_and_travis/marissa_and_travis_project_photo.jpg", alt: "Boy practicing writing his ABC's at night in his room" %>
        <h4>BRING ELECTRICITY TO A VOCATIONAL SCHOOL FOR VULNERABLE CHILDREN</h4>
        <h4><a href="" data-reveal-id="js-learn-more-modal-3"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-3" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>

          <p>
          dsadsadsasa
          </p>

        </div>
      </div>
    </div>
  </div>
</section>