<div class="row">
  <div id="banner-container" class="hero-banner">
    <div class=" large-12 columns">
      <h1>Build Love<br/>Where it's needed most</h1>
      <%= link_to "Create Your Registry", new_registry_path, :id => "cta-button", :class => "button large" %>
    </div>
    <a href="#heartfully-sum"><i class="fa fa-caret-down"></i></a>
  </div>
</div>

<section class="row heartfully-summary" id="heartfully-sum">
  <div class="large-6 columns">
    <h2>Heartful.ly</h2>
    <p>Create a charitable wedding registry and share your happily ever after with the world.</p>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right xlarge-only-text-right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mzx4HhHIUx4" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="row heartfully-how-it-works">
  <div class="row">
    <div class="large-12 columns"><h2><span class="line-center">How It Works</span></h2></div>
  </div>
  <div class="row">
    <div class="large-12 columns how-it-works-paragraph"><p>Heartful.ly is a wedding registry platform for couples that want to support specific infrastructure and development projects around the world.</p></div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-3 columns">
      <h2>Explore</h2>
      <div class="row"><%= image_tag "homepage/explore_icon.png", alt: "Exlpore Icon" %></div>
      <p>Whether you're passionate about alternative energy, healthy moms and babies or clean drinking water, you can create a wedding registry that reflects your values.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Confirm</h2>
      <div class="row"><%= image_tag "homepage/confirm_icon.png", alt: "Exlpore Icon" %></div>
      <p>Found "the one?"  Select the project you'd like to support and we'll set up your registry webpage. The project you choose will be transformed into individual gifts like pallets of bricks and buckets of paint.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Customize</h2>
      <div class="row"><%= image_tag "homepage/customize_icon.png", alt: "Exlpore Icon" %></div>
      <p>We turn the reins over to you to write a message to your guests and add photos. When you're ready, share your registry using the URL of your choice.
      </p>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <h2>Give</h2>
      <div class="row"><%= image_tag "homepage/build_icon.png", alt: "Exlpore Icon" %></div>
      <p>On your wedding day, we transfer your guests' donations to the organization implementing the project. You and your guests will receive multimedia updates as the work progresses.
      </p>
    </div>
  </div>
</section>

<section class="row heartfully-projects-we-love">
  <div class="row project-container">
    <h2>Projects We Love</h2>
    <h3><a href="#" class="button small">View More Projects</a></h3>
    <div class="row">
      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "matt_and_lindsey/matt_and_lindsey_project_photo.jpg", alt: "Mufindi Village Image" %>
        <h4>LAUNCH THREE EARLY EDUCATION PROGRAMS IN TANZANIA</h4>
        <h5><strong>Goal: $4,325</strong></h5>
        <h4><a href="" data-reveal-id="js-learn-more-modal-1"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-1" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>

          <h5>LAUNCH THREE EARLY EDUCATION PROGRAMS IN TANZANIA</h5>
          <p>
            Transform three village classrooms into a place where young children can receive better education and compassionate support from teachers.
          </p>

          <h5>Project Goal: $4,325</h5>
          <h5>THE PROBLEM</h5>
          <p>
            Teachers in Tanzania deal with minimal training, a lack of classroom supplies, dire classroom conditions, and large classroom sizes (sometimes up to100-150 students!) and little community support.  This results in not just poor learning outcomes for students, but a high teacher burn-out rate which contributes to the cycle of a low teacher-to-student ratio.
          </p>
          <h5>THE OPPORTUNITY</h5>
          <p>In 2010, the Early Childhood Education Department began to address a pressing need for young children to have a safe and stimulating environment to grow in mind and body. This program offers working parents a place for their children to receive nutritious food, age-appropriate education and a compassionate and loving environment.</p>
          <h5>HOW IT WORKS</h5>
          </p>
          <ul>
          <li>1. The Mufindi Orphans Project selects a preschool class to participate in the outreach program.</li>
          <li>2. After a needs assessment, minor renovations or repairs are made as part of the classroom transformation</li>
          <li>3. Educational materials are purchased and set up in the classroom to create a supportive learning environment. Each classroom has five sections for children ranging in age from 3-7 years old: practical life, sensorial, math, language and culture and science.  This program uses an 'interactive' approach and alll materials are at the children's level to take and use as they please. 
          <li>4. Mufindi Orphans Project staff conduct follow-up visits to ensure the new classroom materials are being used appropriately and are well-maintained.</li>
          <li>5. The community, teachers, and students benefit from a transformed learning space for years to come!</li>
          <h5>WHY IT’S IMPORTANT</h5>
          <p>
            The outreach program helps schools with the skills and tools they need to educate their children and to provide a loving environment for children to learn creativity, kindness, problem solving strategies, and of course, reading, writing and arithmetic.
          </p>
           
          <h5>SUSTAINABILITY</h5>
          <p>
            Sustainability is a key pillar to this program’s success. Communities pay for their preschool teacher's wage and institute school lunch programs funded by the parents.  In exchange, the Mufindi Orphans Project funds teacher training, classroom materials and renovations. They also walk side-by-side with community partners throughout the year to ensure all children are getting the best possible access to education and care.
          </p>

          <h5>SAMPLE OF GIFT ITEMS:</h5>
          <ul>
            <li>Classroom renovations</li>
            <li>Woven mats for story time</li>
            <li>Books</li>
            <li>Building blocks</li>
            <li>Blankets (Mufindi can get quite cold!)</li>
          </ul>

          <p class="text-center">
            The <a href="http://www.mufindiorphans.org/" target="_blank">Mufindi Orphans Project</a> provides shelter, sustenance, education, and medical care for vulnerable children and families in the Mufindi District of Tanzania; to curtail the spread of HIV/AIDS, to teach life skills (language, fiscal, vocation and self-sufficiency) and to create supportive networks and opportunities for future generations.
          </p>

        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "marissa_and_travis/follow_up interviews.jpg", alt: "Three boys smiling" %>
        <h4>LIGHT UP THE NIGHT WITH A SOLAR ENERGY CAMPAIGN FOR ZAMBIAN FAMILIES</h4>
        <h5><strong>Goal: $3,000</strong></h5>
        <h4><a href="" data-reveal-id="js-learn-more-modal-2"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-2" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>

          <h5>Project Goal: $3,000 (supports four schools)/ $6,000 (supports 8 schools)</h5>

          <h5>THE PROBLEM</h5>
          <p>
            Seven out of ten people in Zambia have no access to electricity. Without it, families are dependent on alternatives like burning kerosene. The black smoke a kerosene lamp emits pollutes the environment and its expensive price keeps families locked in a cycle of poverty.
          </p>
           
          <h5>THE OPPORTUNITY</h5>
          <p>
            Light up the night and help bring access to solar energy to school children and their families across eight schools in Zambia’s Central Province. Specifically, this registry has the opportunity to:
          </p>
          <ul class="disc">
            <li>Give 3,762/7,524 people access to solar lights.</li>
            <li>Provide 745,670/1,491,340 study hours to children.</li>
            <li>Save families $124,350/$248,700 in fuel costs.</li>
            <li>Avert 323/646 tons of carbon dioxide emissions.</li>
            <li>Improve the respiratory health of 2,157/4,314 people by transitioning to a clean light source.</li>
          </ul>
           
          <h5>HOW IT WORKS</h5>
          <p>
            SolarAid is working to eradicate the kerosene lamp from Africa by 2020 by selling solar lights through its social enterprise, SunnyMoney. By selling lights, not giving them away, they are establishing a solar market which will light up an entire continent and leave a lasting energy legacy.
          </p>
          <ul class="disc">
            <li> Through a unique community distribution model, headteachers are trained and empowered to raise trust and communicate the benefits of solar power to parents.</li>
            <li> Parents are able to purchase a solar light at a promotional price and as each light shines in the night, it attracts neighbors and in turn the demand for solar lights grows.</li>
            <li> This sparks the market conditions required for local shops and independent agents to sell solar lights, which supports job creation and ensures money stays in the local economy.</li>
          </ul>
           
          <h5>WHY IT’S IMPORTANT:</h5>
          <ul class="disc">
            <li>Better health: Over 50% of families show signs of improvement in respiratory health after switching from kerosene and paraffin to solar lights.</li>
            <li> Productivity: Solar lights allow students to read without straining their eyes as well as enable work and meal preparation after sunset.</li>
            <li> Savings: The money saved in 10 weeks from not having to buy kerosene is enough for families to purchase a Solar Light that can last 5 years.</li>
            <li> Environmentally Smart:  Solar lights in the household can reduce CO₂ emissions by up to 440 pounds per year.</li>
          </ul>

          <h5>SUSTAINABILITY:</h5>
          <p>
            The SolarAid social enterprise model avoids any reliance on donations and simply introduces solar products into the local market. It also generates jobs, saves money and increases productivity by harnessing the world’s most sustainable form of energy – solar power!
          </p>
           
          <h5>SAMPLE OF GIFT ITEMS:</h5>

          <ul>
            <li>Transport of solar lights to communities</li>

            <li>Solar light marketing bundle (sample lights, radio ads, banners, posters, flyers)</li>

            <li>Project monitoring and evaluation</li>
          </ul>

          <p class="text-center">
            <a href="http://www.solar-aid.org/">SolarAid</a> is an international charity that combats poverty and climate change by providing 
            access to solar lights in some of the most remote regions of the world and building a movement to eradicate the kerosene lamp.
          </p>
        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <%= image_tag "marissa_and_travis/marissa_and_travis_project_photo.jpg", alt: "Boy practicing writing his ABC's at night in his room" %>
        <h4>BRING ELECTRICITY TO A VOCATIONAL SCHOOL FOR VULNERABLE CHILDREN</h4>
        <h5><strong>Goal: $5000</strong></h5>
        <h4><a href="" data-reveal-id="js-learn-more-modal-3"><strong>Learn More</strong></a></h4>
        <div id="js-learn-more-modal-3" class="reveal-modal small medium learn-more-modal" data-reveal>
          <a href="#" class="close-reveal-modal">&times;</a>
          
          <h5>BRING ELECTRICITY TO A VOCATIONAL SCHOOL FOR VULNERABLE CHILDREN IN TANZANIA</h5>
          <h5>Project Goal: $5,000</h5>
           
          <p>
            Provide a source of sustainable income for a vocational school serving at-risk youth in Tanzania and improve the quality and range of education available by equipping it with electricity.
          </p>

          <h5>THE PROBLEM</h5>
          <p>
            Out of school youth living in rural Tanzania have little to no opportunities to develop income generating skills in a safe and supportive environment. In those rare communities trying to initiate vocational schools for these underserved children, the lack of electricity and infrastructure limit the ability of the school to generate enough income to cover operational costs and provide a quality education for its students.
          </p>
          <h5>THE OPPORTUNITY</h5>
          <p>
            The Mary Ryan Foundation is improving access to educational opportunities for over 80 disadvantaged youth in Mbeya, Tanzania through its  vocational school in Ilembo. In 2014, Ilembo was one of many rural villages added to the TANESCO electric grid system in the country. Unfortunately, high installation and equipment costs have prevented most of the population from accessing this electricity. Bringing electricity and high quality electric-run products to the vocational school will expand opportunities to initiate new skills training for students and boost the school's ability to become self-sustaining.
          </p>

          <h5>HOW IT WORKS</h5>
          <p>
            Step 1: Power it up! The Mary Ryan Foundation Committee of Ilembo will oversee the installation of electricity at the vocational school in close coordination with TANESCO and local government leaders. Designated committee members will also ensure the purchase, safe transport and proper maintenance of the new equipment and supplies.
          </p>
          <p>
            Step 2: Any child or adolescent can enroll in the school and select their area of interest including sewing, carpentry, and masonry. Those who do not have the means to pay the minimal school fee are admitted free of charge.
          </p>
          <p>
            Step 3: Students are treated with respect and are welcomed as part of the community. They attend all-day classes five days per week just like their secondary school counterparts. Students also benefit from trainings on business and accounting, health education (including HIV prevention), and volunteer periodically at the community health center.
          </p>
          <p>
            Step 4: Students are trained on the new equipment by certified teachers. MRF Committee members also actively promote the new services available to the community which were previously not there, such as electric-powered wood cutting and sewing.
          </p>
          <p>
            Step 5: Community members pay to use the vocational school’s new wood cutting and machine and place orders with the school for clothing, construction and carpentry.
          </p>
          <p>
            Step 6: People of Ilembo get items and services they need while supporting vulnerable youth in their communities – quite an electrifying combo!
          </p>

          <h5>WHY IT’S IMPORTANT</h5>
          Out of school youth are more likely to get into risky behaviors or run away from home to chase down a better life in “the city”. This often leads to homelessness, theft, HIV infection,  unwanted pregnancies, or worse.  Ilembo’s vocational school offers a healthy and fulfilling alternative in the form of valuable income generating and life skills, and a safe environment for youth to come together and build a better future for themselves. It is the first school of its kind in the area, and has been well-received by students, parents/caretakers, community leaders, and district officials. Many graduates of the school now own and operate their own businesses and are supporting themselves and their families.

          <h5>SUSTAINABILITY</h5>
          <p>
            Sustainability is the name of the game for this project. In 2012, the Mary Ryan Foundation Committee of Ilembo developed a five-year sustainability action plan for the vocational school. Each year, external support is reduced, while the community’s contributions increase by using profits from selling furniture and construction to cover the operating costs. Initial funding for the school to obtain electricity will expand long-term opportunities to initiate new vocational skills training for students while boosting the school’s income and ability to stay on track toward sustainability.
          </p>
            
          <h5>SAMPLE OF GIFT ITEMS:</h5>

          <h6>Electricity installation supplies</h6>
          <ul class="disc">
            <li>Switches</li>
            <li>Sockets</li>
            <li>Breakers</li>
            <li>Wires</li>
            <li>Nuts n’ bolts</li>
          </ul>

          <h6>People power</h6>
          <ul class="disc">
            <li>Engineers</li>
            <li>Electricians</li>
            <li>Transport</li>
          </ul>

          <p class="text-center">
            The Mary Ryan Foundation (MRF) is a non-profit organization whose mission is to provide relief and assistance to impoverished communities within Tanzania, specifically by supporting orphans and children living in the most difficult environments within those communities.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>