<div class="row">
  <div id="banner-container" class="hero-banner">
    <div class=" large-12 columns">
      <h1>Build Love<br/>Where it's needed most</h1>
      <%= link_to "Create Your Registry", new_registry_path, :id => "cta-button", :class => "button large" %>
    </div>
    <i class="fa fa-caret-down"></i>
  </div>
</div>

<section class="row heartfully-summary">
  <div class="large-6 columns">
    <h2>Heartful.ly</h2>
    <p>creates charitable wedding registries that can share your happily ever after with the world. We offer engaged couples a platform to register for small scale, high impact infrastructure and development projects around the world.</p>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right xlarge-only-text-right">
    <iframe src="https://player.vimeo.com/video/119511358" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="row heartfully-how-it-works">
  <div class="row">
    <div class="large-12 columns"><h2><span class="line-center">How It Works</span></h2></div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <h2>Explore</h2>
      <%= image_tag "explore_icon.png", alt: "Exlpore Icon" %>
    </div>
    <div class="large-3 columns">
      <h2>Confirm</h2>
      <%= image_tag "confirm_icon.png", alt: "Exlpore Icon" %>
    </div>
    <div class="large-3 columns">
      <h2>Customize</h2>
      <%= image_tag "customize_icon.png", alt: "Exlpore Icon" %>
    </div>
    <div class="large-3 columns">
      <h2>Give</h2>
      <%= image_tag "build_icon.png", alt: "Exlpore Icon" %>
    </div>
  </div>
</section>
<!-- <section class="row accent-bg">
  <div class="small-12 medium-8 small-centered columns">


  </div>
</section> -->