.test.center
  %h1.c-project-header__title
    Press
.c-breaker
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://www.marthastewartweddings.com/600775/giving-back-wedding-charity", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-marthastewart.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small How to Have Your Dream Wedding—and Give Back at the Same Time
      %p.c-how__step-description.center-block.mb
        Tips for being a charitable bride on your big day.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://www.bizjournals.com/bizwomen/news/latest-news/2016/06/wedding-crashers-the-women-disrupting-nuptial.html", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-bizjournals.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Wedding Crashers: The Women Disrupting Nuptial Planning
      %p.c-how__step-description.center-block.mb
        Call them the wedding crashers — out to disrupt the complicated, expensive (and sometimes arduous) process of planning weddings.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://www.marthastewartweddings.com/600825/heartfully-registry-bloomerent-zola-michael-c-fina", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-marthastewart.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Darcy’s Diary: What I’m loving this week
      %p.c-how__step-description.center-block.mb
        Through partnerships with nonprofits in the U.S. and around the world, Heartful.ly empowers couples and their communities to fund life-changing projects through their wedding registry.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "https://www.washingtonpost.com/pr/wp/2015/12/02/start-up-heartful-ly-wins-millennial-entrepreneur-pitch-contest-at-ingenuity-2015-summit/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-wapo.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Start-up, Heartful.ly wins millennial entrepreneur pitch contest at inGENuitY 2015 Summit
      %p.c-how__step-description.center-block.mb
        The Heartful.ly platform builds elegant registries featuring real development projects — provided through partnerships with non-profit organizations in the U.S. and across five continents.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://dcinno.streetwise.co/2015/12/02/startup-heartful-ly-wins-ingenuity-launches-wedding-donation/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-dcinno.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small DC Startup Heartful.ly Launches, Aims to Transform Wedding Gift Market
      %p.c-how__step-description.center-block.mb
        By combing the allure of weddings with a streamlined tool to inspire donations to worthy causes, Heartful.ly hopes to catalyze funding for numerous organizations that are tackling real world problems like hunger, access to clean water, to provide medical supplies to war torn regions and for basic infrastructure in developing nations.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://whcinsider.com/2016/01/20/heartful-ly-ceo-kate-glantz-talks-new-projects-philanthropy-and-halcyon-incubator/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-whc.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Heartful.ly CEO Kate Glantz Talks New Projects, Philanthropy, and Halcyon Incubator
      %p.c-how__step-description.center-block.mb
        White House Correspondents’ Insider got a chance to speak with Kate Glantz, founder and CEO of heartful.ly, a company that allows engaged couples to help fund their favorite NGOs and charities on a project-by-project basis instead of the traditional wedding gift registry.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://technical.ly/dc/2015/12/02/heartfully-wedding-registry-charitable-giving-launches-dc/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-technically.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Wedding registry for charitable giving launches in DC
      %p.c-how__step-description.center-block.mb
        Heartful.ly allows couples to build a legacy of giving back alongside their vows.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "https://issuu.com/washingtonlife/docs/wl1115_digital/45", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-wlm.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small D.C. Top 25 Innovator in 2015
      %p.c-how__step-description.center-block.mb
        By partnering with nonprofit organizations in the U.S. and around the world, it connects engaged couples and their communities to life-changing development projects in need of funding.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "https://medium.com/@clintperez/give-gifts-with-social-impact-21e52cbdc44d#.zfrt585bi", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-medium.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Give Gifts With Social Impact: Q&A with heartful.ly Founder and CEO, Kate Glantz
      %p.c-how__step-description.center-block.mb
        By partnering with nonprofit organizations in the U.S. and around the world, Heartful.ly connects engaged couples and their families and friends to essential community development projects while replicating the experience of a traditional gift registry.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://weddingmarketnews.com/weddings-that-give-back-with-kate-glantz-of-heartful-ly/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-weddingmarket.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Weddings That Give Back With Kate Glantz of Heartful.ly
      %p.c-how__step-description.center-block.mb
        Millennials are emerging as the most generous generation. Last year, 89% of millennials gave time or money to a cause.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://www.thedcladies.com/2015/12/09/share-the-love-with-heartful-ly-a-wedding-registry-that-celebrates-giving-back/", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-dcladies.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Share the love with Heartful.ly, a wedding registry that celebrates giving back
      %p.c-how__step-description.center-block.mb
        With Heartful.ly, couples can literally share their love with the people and places that need it most, creating a legacy that grows with their marriage.
      %p.c-how__step-description.purple.small.center-block
        Read more...
  .r-flex.test.mb{style: "position: relative;"}
    = link_to "&nbsp;".html_safe, "http://gadgetgoals.com/interviews/kate-glantz", class: "contain-link", target: "_blank"
    .c-press__page-logo.flex-40{:style => "background-color: transparent; background-image: url('#{image_url('media-gadgetgoals.png')}'); background-size: contain; background-repeat: no-repeat; margin-top: -25px;"}
    .c-press__page-content.flex-60
      %h4.c-how__step-title.purple.mb--small Heartful.ly CEO Kate Glantz on Charitable Giving and Bootstrapping a Startup
      %p.c-how__step-description.center-block.mb
        In addition to (or instead of) registering for a blender, crockpot or a honeymoon, on Heartful.ly, couples can choose from a list of charitable projects organized by more than 40 nonprofits around the world, and register for donations.
      %p.c-how__step-description.purple.small.center-block
        Read more...
.line
.c-breaker.center
  %svg.c-icon.c-icon--status{:style => "width: 25px; height: 25px;"}
    %use{"xlink:href" => "#icon-hearts-purple"}
  %h3.roboto.large.mb
    Create your charitable wedding registry today!
  %button.c-button.c-button--primary.mb.launchSignupModal= link_to 'Get Started', new_registry_path