<div>
  <div class="mb">
    <h3>From:</h3>
    <div class="help">(Your information)</div>
  </div>
  <div class="mb">
    <%= label_tag(:first_name, 'First Name') %><span class="red">*</span>
    <br>
    <%= text_field_tag(:first_name, '', :placeholder => 'First Name', :required => true) %>
  </div>
  <div class="mb">
    <%= label_tag(:last_name, 'Last Name') %><span class="red">*</span>
    <br>
    <%= text_field_tag(:last_name, '', :placeholder => 'Last Name', :required => true) %>
  </div>
  <div class="mb">
    <%= label_tag(:email, 'Email') %><span class="red">*</span>
    <br>
    <%= email_field_tag(:email, '', :placeholder => 'Email', :required => true) %>
  </div>
</div>
