<%= form_for(@registry, html: {class: 'stacked skinny ma'}) do |f| %>

  <!-- error handling  -->
  <% if @registry.errors.any? %>
     <div class="error mb">
       <strong><%= pluralize(@registry.errors.count, "error") %> prohibited
       this registry from being saved:</strong>
        <ul>
          <% @registry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
     </div>
  <% end %>

    <%= render partial: 'form_part_1', locals: {f: f} %>

  <% unless @registry.new_record? %>
    <%= render partial: 'form_part_2', locals: {f: f} %>
  <% end %>

  <%= f.submit "Next \&rarr;".html_safe, class: 'c-button c-button--primary stretch'%>
<% end %>
