<div>
  <%= f.label :name, 'You and your partner\'s name' %>
  <div class="help">(James & Sarah)</div>
  <%= f.text_field :name, class: 'mb--large stretch' %>

  <%= f.label :email, 'Send donation notifications to' %>
  <%= f.text_field :email, placeholder: 'Annie@email.com', class: 'mb--large stretch' %>

  <%= f.label :url_slug, 'Your registry URL' %>
  <div class="help">(This is the link your guests will visit to see your registry)</div>
  <div class="help">*can only contain lowercase letters, numbers, dashes (-), and underscores</div>
  <div>
    <span>https://heartful.ly/registry/</span>
  <%= f.text_field :url_slug, placeholder: 'your-unique-url', class: 'mb--large', style: 'display: inline;' %>
  </div>

  <%= f.label :city_state, 'Mailing address (we like to send gifts!)' %>
  <%= f.text_field :city_state, placeholder: '1600 Pennsylvania Ave NW, Washington, DC 20500', class: 'mb--large stretch' %>

  <%= f.label :banner_image, 'Cover photo' %>
  <div class="help">Suggested dimensions: 1200x800 pixels</div>
  <%= f.file_field :banner_image, class: 'mb--large stretch' %>

  <%= f.label :profile_image, 'Couple profile photo' %>
  <div class="help">Suggested dimensions: 600x350 pixels</div>
  <%= f.file_field :profile_image, class: 'mb--large stretch' %>

  <%= f.label :event_date, 'When is the big day?' %>
  <div class="help"></div>
  <%= f.date_field :event_date, placeholder:'mm/dd/yyyy', min: Date.today, class: 'mb--large stretch' %>
</div>
