<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US BUILD A HEALTHIER FUTURE FOR THE COMMUNITY OF WANGAMA</h2>
  <table id="registry-list">
    <tr class="zebra">
      <td colspan="2">
        <strong>Item</strong>
      </td>
      <td>
        <strong>Price</strong>
      </td>
      <td>
        <strong>Available</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/cement.jpg", :class => "product-img", alt: "Photo of bags of Cement" %>
      </td>
      <td class="product-name-cell">
        <strong>Cement</strong>
      </td>
      <td class="product-price-cell">
        $10
      </td>
      <td class="product-avail-cell">
        100 Bags
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/building_rods.jpg", :class => "product-img", alt: "Photo of building rods" %>
      </td>
      <td class="product-name-cell">
        <strong>Building Rods</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        9
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/door.jpg", :class => "product-img", alt: "photo of a white door" %>
      </td>
      <td class="product-name-cell">
        <strong>Doors and frame</strong>
      </td>
      <td class="product-price-cell">
        $55
      </td>
      <td class="product-avail-cell">
        2
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/windows.jpg", :class => "product-img", alt: "photo of a window" %>
      </td>
      <td class="product-name-cell">
        <strong>Windows</strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        7
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/shutters.jpg", :class => "product-img", alt: "photo of shutters" %>
      </td>
      <td class="product-name-cell">
        <strong>Shutters</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        25
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/wood_planks.jpg", :class => "product-img", alt: "photo of wood planks" %>
      </td>
      <td class="product-name-cell">
        <strong>Boards</strong>
      </td>
      <td class="product-price-cell">
        $30
      </td>
      <td class="product-avail-cell">
        37 Bundles
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/tin.jpg", :class => "product-img", alt: "photo of tin" %>
      </td>
      <td class="product-name-cell">
        <strong>Tin</strong>
      </td>
      <td class="product-price-cell">
        $20
      </td>
      <td class="product-avail-cell">
        29 Sheets
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/nails.jpg", :class => "product-img", alt: "photo of a whole bunch of nails" %>
      </td>
      <td class="product-name-cell">
        <strong>Nails</strong>
      </td>
      <td class="product-price-cell">
        $20
      </td>
      <td class="product-avail-cell">
        4/9kg Bag
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/plywood.jpg", :class => "product-img", alt: "photo of plywood" %>
      </td>
      <td class="product-name-cell">
        <strong>Plywood</strong>
      </td>
      <td class="product-price-cell">
        $75
      </td>
      <td class="product-avail-cell">
        2 Bundles
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "katelyn_and_brandon/glass.jpg", :class => "product-img", alt: "photo of a whole bunch sheets of glass" %>
      </td>
      <td class="product-name-cell">
        <strong>Glass</strong>
      </td>
      <td class="product-price-cell">
        $40
      </td>
      <td class="product-avail-cell">
        7 Panes
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
  </table>

  <div class="row">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="/charges/new">All Set? Checkout</a>
  </div>
</div>
