<div class="row collapse">
  <%= form_for([@registry, @registry.orders.build]) do |f| %>

    <%= fields_for :items do |ff| %>
      <% @registry.item_types.each do |item_type| %>
        <div class="small-12 medium-4 large-3 columns">
          <ul class="pricing-table">
            <li class="product-img-cell">
              <div class="product-img-div"><%= image_tag item_type.thumbnail_img, :class => "product-img" %></div>
            </li>
            <li class="product-name-cell">
              <p><strong><%= item_type.name %></strong>
              <%= ": #{item_type.description}" unless item_type.description.blank? %>
              </p>
            </li>
            <li class="product-price-cell">
              <strong><%= number_to_currency(item_type.price, :precision => 0) %></strong>
            </li>
            <% unless item_type.items.available.empty? %>
              <li class="product-avail-cell">
                <strong>Available: <%= item_type.items.available.count %></strong>
              </li>
              <li class="product-buy-cell"><%= ff.number_field(item_type.name, in: 0..item_type.items.available.count) %>
              </li>
            <% else %>
              <li class="product-avail-cell">
                None
              </li>
              <li class="product-buy-cell"><%= ff.number_field(item_type.name, in: 0..item_type.items.available.count, :disabled => true) %>
              </li>
            <% end %>
            <!-- <a href="#" class="button small expand">Add to Cart</a></li> -->
          </ul>
        </div>
      <% end %>
    <% end %>

    <div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
      <h2 id="thank-you">Thank You!</h2>
      <a href="#" class="close-reveal-modal">&times;</a>

      <div class="row">
        <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
      </div>
      
    </div>
    
    <div class="row checkout-button">
      <%= submit_tag('All Set? Checkout', {:class =>'expand  button'}) %>
      <!-- <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout</a> -->
    </div>
  <% end %>

</div>
