<%= form_for([@registry, @registry.orders.build]) do |f| %>
  <%= fields_for :items do |ff| %>
    <% @registry.item_types.each do |item| %>
      <div class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <div class="product-img-div"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/<%=item.thumbnail_img %>" class="product-img" /></div>
          </li>
          <li class="product-name-cell">
            <p><strong><%= item.name %></strong><%= ": #{item.description}" unless item.description.blank? %>
            </p>
          </li>
          <li class="product-price-cell">
            <strong><%= number_to_currency(item.price, :precision => 0) %></strong>
          </li>
          <li class="product-buy-cell">
            <strong>Quantity</strong>: <%= ff.number_field(item.name, in: 0..20) %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="row checkout-button">
      <%= submit_tag('All Set? Checkout!', {:class =>'expand  button'}) %>
    </div>
  <% end %>
<% end %>
