= form_for(@registry, format: :json, html: {id: "new-registry-form", class: 'stacked skinny ma'}) do |f|
  = hidden_field_tag :project_url_slug
  = f.text_field :registrant_first_name, placeholder: "Your first name"
  = f.text_field :registrant_last_name, placeholder: "Your last name"
  = f.text_field :partner_first_name, placeholder: "Partner's first name"
  = f.text_field :partner_last_name, placeholder: "Partner's last name"
  = f.text_field :event_date, placeholder: "put jquery datepicker here"
  = precede "https://heartful.ly/registry/" do
    = f.text_field :url_slug, placeholder: "your-unique-url"

%button#step-1-next.c-button.c-button--primary{type: "button"}
  Next