- if flash[:notice]
  .success.mb= flash[:notice]
.c-breaker{:style => "background-color: #7D72DE; background-image: url('http://cdn1.stocksy.com/a/ciA000/z0/41206.jpg'); background-size: cover; background-position: 30% 30%; color: white;"}
  .test.center
    %h1.roboto= @registry.name
.pad{:style => "background: #f5f5f5;"}
  .c-circle.ma.mb{:style => "border-radius: 50%; width: 100px; height: 100px; margin-top: -100px; box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.2); background-image: url(#{@registry.profile_image})"}
  .test
    .r-flex.flex--sb.mb--large
      .border.flex-2
        %h2.c-admin__heading.mb.meta Your Project
        - if @project.present?
          %p
            Thanks to your generosity, your registry has helped
            %strong= @project.partner
            raise
            %strong= dollars @orders.to_a.sum(&:total_big_decimal)
            so far.
          .c-tiny-project.nudge-top
            .c-tiny-project__photo{:style => "background-image: url(#{@project.photo1_url})"}
            .c-tiny-project__info
              %h3.mb--small{:style => "font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;"}= @project.name
              %p.mb--small= @project.description
              %ul.c-project-about__meta
                %li
                  %svg.c-icon.c-icon--inline{:title => "location"}
                    %use{"xlink:href" => "#icon-map"}
                  = @project.country
                %li
                  %svg.c-icon.c-icon--inline{:title => "location"}
                    %use{"xlink:href" => "#icon-link"}
                  = link_to(URI(@project.organization.org_url).host, @project.organization.org_url, class: 'c-project-about__link')
              = link_to('Learn more &rarr;'.html_safe, project_path(@project.url_slug), class: 'link--secondary inline nudge-top--small')
      .flex-2
        .border.mb
          %h2.c-admin__heading.mb.meta Registry Admin
          %ul.c-admin__links
            %li= link_to 'View registry', registry_home_path(current_user.registry.url_slug)
            %li= link_to 'Edit registry', edit_registry_path(current_user.registry)
            %li= link_to 'My profile', edit_user_path(current_user)
            %li= link_to 'Delete registry', registry_path(@registry), method: :delete, data: { confirm: 'Are you sure you want to delete your registry?'}
        .border.mb
          %h2.c-admin__heading.mb.meta Spread The Word
          %p.mb
            Share your registry on your wedding website:
            - if current_user.registry.is_a?(Birthday)
              %input.c-admin__share-link.mb--small{value: birthday_home_url(current_user.registry.url_slug), readonly: true}
            - else
              %input.c-admin__share-link.mb--small{value: registry_home_url(current_user.registry.url_slug), readonly: true}
          %p.mb
            - if current_user.registry.is_a?(Birthday)
              = link_to "Share your registry on Facebook", "#", class: "shareRegistry", data: {registry: birthday_home_url(current_user.registry.url_slug)}
            - else
              = link_to "Share your registry on Facebook", "#", class: "shareRegistry", data: {registry: registry_home_url(current_user.registry.url_slug)}
          %p.mb
            = link_to "Create a free video montage with your guests, a gift from Tribute (discount applied at checkout)", "https://www.tribute.co/?utm_campaign=heartfully&utm_medium=referral&utm_source=heartfully_website&promo_code=heartfuly1421", target: "_blank"
        .border
          %h2.c-admin__heading.mb.meta Logos
          %p Download a logo for your wedding website:
          .c-admin__logo
            = link_to image_tag("logo-stamp-mini.png"), asset_path("logo-stamp.png")
          .c-admin__logo
            = link_to image_tag("logo-full-mini.png"), asset_path("logo-full.png")

    .border
      %h2.c-admin__heading.mb.meta
        %svg.c-icon.c-icon--medium{:title => "gifts"}
          %use{"xlink:href" => "#icon-gift"}
        Your Gifted Items
      %table.c-admin__table
        %thead
          %tr
            %th Item
            %th Quantity
            %th Bought by
            %th Total amount
            %th Personal note
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.item
              %td= order.quantity
              %td= mail_to order.email
              %td= dollars order.total_big_decimal
              %td= order.message
      .c-admin__mobile-items
        / boo more inline styles, fix this soon
        - @orders.each do |order|
          .c-registry-card{:style => "padding: 20px; font-size: 9pt; font-size: 2.5vw"}
            %p{:style => "font-weight: bold"}= order.item
            %p
              Quantity: #{order.quantity}
            %p
              Bought by: #{mail_to order.email}
            %p
              Amount: $#{dollars order.total_big_decimal}
            %p= order.message
