.registry-container
  .hero
  .header.mb--large
    %span Create Registry
    %span Select Project
    %span Personalize
    %span.disabled Done
  = form_for(@registry, format: :json, html: {id: "new-registry-form", class: 'stacked auto-margin mb'}) do |f|
    = hidden_field_tag :project_url_slug
    = f.hidden_field :type
    .slider.auto-margin
      #create-registry
        = render "step_1", f: f
      #select-project
        = render "step_2"
      #personalize
        = render "step_3", f: f
      #finished
        = render "step_4"

#projectModal
  #projectModalContainer.modal.fade
    .modal-dialog.modal-lg