.preview-container.test
  .c-hero.registry.preview-hero
    .c-hero__container.preview-text
      %h1.preview-name= @registry.wedding_name
      - if @registry.event_date
        %span.c-hero__date
          — #{@registry.event_date.to_formatted_s(:long)} —
  .c-circle.ma.mb{:style => "position: relative; border-radius: 50%; width: 75px; height: 75px; margin-top: -40px; box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.2);"}

= form_for(@registry, format: :json, html: {id: 'personalize-registry-form', class: 'stacked skinny ma'}) do |f|
  = f.label :banner_image, 'Cover photo'
  .help Suggested dimensions: 1200x800 pixels
  = f.file_field :banner_image, class: 'mb--large stretch'
  = f.label :profile_image, 'Couple profile photo'
  .help Suggested dimensions: 600x350 pixels
  = f.file_field :profile_image, class: 'mb--large stretch'

  = f.label :registry_story, 'Why did you create this registry?'
  .help Write a note from the heart explaining why this cause is important to you and thank your community for their generosity in helping you reach your fundraising goal.
  = f.text_area :registry_story, placeholder: "A message to your friends...", class: 'mb--large stretch'

  = f.label :goal, 'Fundraising Goal (optional)'
  .help Setting a tangible number inspires action and results in more donations. You can change your goal at any time.
  = f.number_field :goal, placeholder: "1000", min: 0, class: 'mb--large stretch'

  = f.label :video_url, 'Share a video (optional)'
  .help If a picture is worth 1,000 words, a video might break the bank. Record a short video explaining why you're raising money for this cause, upload the video to YouTube, then paste the embed link here.
  = f.text_field :video_url, placeholder: "https://www.youtube.com/embed/lmCePnhPpzs", class: 'mb--large stretch'