<div class="c-breaker gray">
  <div class="test">
    <div class="c-card ma" style="max-width:800px;">
      <!-- TODO: make card a helper instead of a component -->
      <div class="meta mb--large center">Create A Registry</div>
      <div style="margin: 0 auto 40px auto; font-size: 1.3em; text-align: center;">
        <div class="c-create__step mb" style="font-weight: normal;">Step 2: Select A Project</div>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-cake"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large" style="fill: #61AFFF;"><use xlink:href="#icon-globe"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-preview"></use></svg>
      </div>

      <div class="mb--large flex" style="background: #fff; border: 1px solid #ddd; border-radius: 5px; align-items: stretch; align-content: center;">
        <div class="inline" style="background: #eee; padding: 20px">
          <svg class="c-icon" style="align-self: center; margin-top: 10px; fill: #999"><use xlink:href="#icon-info"></use></svg>
        </div>
        <div class="inline" style="padding: 20px;">
          <p>Choose a project that resonates with you. Your wedding guests will be able to gift items that will help the project. More help text can go here.</p>
        </div>
      </div>

      <div class="flex flex--start test">
        <div class="mb">
          <form>
            <div class="inline" style="margin-right: 20px;">
              <label class="block mb--small" style="text-transform: uppercase; color: gray; font-family:'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif; font-size: 0.8em; letter-spacing: 0.5pt;">Filter by region</label>
              <select class="vm">
                <option>South America</option>
                <option>Another option</option>
              </select>
            </div>
          </form>
        </div>
        <div class="">
          <div class="inline">
            <label class="block mb--small" style="text-transform: uppercase; color: gray; font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif; font-size: 0.8em; letter-spacing: 0.5pt;">Filter by issue</label>
            <select class="vm">
              <option>Education</option>
              <option>Another option</option>
            </select>
          </div>
        </div>
      </div>

      <!-- form starts here -->
      <form class="ma">
        <div class="r-flex-wrap mb">
          <% @projects.each do |project| %>
            <div class="c-tiny-project flex-2 mb">
                <div class="c-tiny-project__photo" style='background-image: <%= "url('#{project.photo1}') "%>'></div>
                <div class="c-tiny-project__info">
                  <h3 class="mb--small"><%= project.name %></h3>
                  <p class="mb--small"><%= project.description %></p>
                  <ul class="c-project-about__meta">
                    <li>
                      <svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-map"></use></svg> <%= project.country %>
                    </li>
                    <li><svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-link"></use></svg> <a class="c-project-about__link" href="<%= project.organization.org_url%>"><%= project.organization.org_url %></a></li>
                  </ul>
                  <%= link_to 'Learn More', "/projects/#{project.url_slug}", class: 'c-button c-button--secondary nudge-top--small'%>
                  <button value="<%= project.url_slug %>" class="c-project-select c-button c-button--primary nudge-top--small">Select</button>
                </div>
            </div>
          <% end %>
        </div>
        <%= link_to 'Next &rarr;'.html_safe, '#', method: :post, class: 'c-project-submit c-button c-button--primary stretch' %>
      </form>
    </div>
  </div>
</div>
