<% content_for :nav do %>
  <%= render "shared/nav" %>
<% end %>
<%= render 'hero'%>
<%= render "shared/breaker" %>
<%= render 'paragraph' %>

<div class="test">
  <%= render "shared/project_tabbed" %>
</div>

<%= render 'registry_item_card' %>
<%= render "shared/breaker" %>
<%= render "shared/footer" %>
