<% content_for :nav do %>
  <%= render "shared/nav" %>
<% end %>
<%= render "shared/hero" %>
<%= render "shared/breaker" %>
<%= render "shared/paragraph" %>
<div class="test">
<%= render "shared/project_tabbed" %>
</div>
<%= render "shared/registry_card" %>
<%= render "shared/breaker" %>
<%= render "shared/footer" %>
