<%= render 'hero'%>
<%= render "shared/breaker" %>
<%= render 'paragraph' %>

<div class="test">
  <%= render "project_tabbed" %>
</div>

<%#= render 'registry_item_card' %>

<%= react_component('RegistryItems', {registry_id: @registry.id, items: @registry.projects.first.item_types}) %>

<%= render "shared/breaker" %>
<%= render "shared/footer" %>
