<div class="row">
  <div id="registry-banner-container" class="hero-banner eva-and-peter">
    <div class=" large-12 columns ">
    <h1>Peter & Eva</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="" class="scroll"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section" class="target">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"eva_and_peter/peter_and_eva_profile_photo.jpg", alt:"Peter & Eva's Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p>New to Austin and ready for new adventures, we met in 2009. For five years we've traveled, frolicked, danced, laughed and made incredible friends together. In November of last year Pete proposed on the deck of a ferry onto Vancouver Island, and it was utterly perfect. Now we get to spend the rest of our lives looking for new adventures together.
    </p>
    <h2>Our Registry</h2>
    <p>When we spent last summer in Senegal, we got to know some incredible people doing innovative work. Some of our new friends there work at a social enterprise that provides entrepreneurial training to women in Senegal. Their approach is progressive and impactful, and we are excited to be a part of the organization's growth through Heartful.ly. We invite you to help us fund this project by choosing a donation below. Merci beaucoup!
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">EcoSac women’s empowerment training</span> will support women in Senegal to promote an affordable energy alternative that is not only more efficient and safer for family health, but is also an income generator for women leaders in the community.
    </p>

    <div class="text-center learn-more"><a href="" class="button small" data-reveal-id="js-learn-more-modal">Learn More</a></div>
    <div id="js-learn-more-modal" class="reveal-modal small medium learn-more-modal" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>

      <h3>The Problem</h3>
      <p>Currently, in Senegal, a meal takes on average 3.5 hours to cook and uses between $1 and $2 worth of fuel per meal.  The economic, health and environmental burden of this task and its associated health risks often fall on women, who are the primary cooks in Senegalese households.</p>

      <h3>The Opportunity</h3>
      <p>The EcoSac is a temperature retention bag that reduces the time, energy, and money necessary for households to cook. By using the EcoSac, low-income families in Senegal can lessen the impact that cooking has on the environment and on their health, all while cutting their expenses.
      </p>

      <h3>How it Works</h3>
      <ol>
        <li>The EcoSac is currently manufactured in Dakar, Senegal, by a team of four tailors employed by SEM Fund, three of whom are women.
        </li>
        <li>Once constructed, the product is sold to women’s groups’ presidents who sell them to their members for a <li>commission.
        </li>
        <li>For each EcoSac sold, the presidents can make between $1.50 - $2 US dollars, providing an additional source of income.
        </li>
        <li>Under this project, SEM Fund will train and mentor 10 new women entrepreneurs for a minimum of six months, and support the creation of a market for clean energy household products.
        </li>
        <li>Families spend less money on cooking, women have more time to devote to their own personal development, and a chance to earn cash to potentially start their own businesses!
        </li>
      </ol>

      <h3>Why it's Important</h3>
      <p>The average household income in rural Senegal is less than $3/day with between 15% and 30% spent on household cooking and lighting products. The EcoSac provides an affordable alternative that is not only more efficient and safer for family health, but is also an income generator for women leaders in the community.
      </p>

      <h3>Sustainability</h3>
      <p>SEM Fund’s EcoSac is sustainable because it is paired with a community-led and managed distribution process. External funds are used to support the business and leadership skills development of new women’s groups, but the ongoing promotion and use of the EcoSac will be driven by women in the community who are motivated to generate their own income.
      </p>

    </div>

    <h3>Thanks To <span>You</span>, This Project is: </h3>
    <div class="text-center" id="fund-meter-div">
      <%= image_tag "homepage/fund_meter.png", :id => "fund-meter" %>
      <span id="percentage-funded">0%</span> 
    </div>
    <h3>Funded</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
    <%= image_tag "eva_and_peter/eva_and_peter_project_photo.jpg", alt: "Peter & Eva's Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US EMPOWER WOMEN ENTREPRENEURS IN SENEGAL</h2>
    <div class="row collapse">

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/copy_of_intro_training.jpg", :class => "product-img", alt: "Woman holding something" %>
          </li>
          <li class="product-name-cell"><p>Introductory Training: An overview on alternative energy benefits, the EcoSac, and exercises in women’s empowerment.</p></li>
          <li class="product-price-cell">$60</li>
          <li class="product-avail-cell">Available: 10</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/business_management_training.jpg", :class => "product-img", alt: "Students and teacher gathered around" %>
          </li>
          <li class="product-name-cell"><p>Business Management Training: Technical skills building that covers basic accounting, how to run and grow a small business, and how to manage savings.</p></li>
          <li class="product-price-cell">$100</li>
          <li class="product-avail-cell">Available: 10</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/marketing_and_comms_training.jpg", :class => "product-img", alt: "Photo of a group of people gathered together" %>
          </li>
          <li class="product-name-cell"><p>Marketing and Communications Training:  An exercise in how to effectively promote and close the deal.</p></li>
          <li class="product-price-cell">$75</li>
          <li class="product-avail-cell">Available: 10</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/mentoring_visit.jpg", :class => "product-img", alt: "Two women counting money" %>
          </li>
          <li class="product-name-cell"><p>Business mentoring visits: meet with the training graduates once a month for a minimum of six months to check in on their progress,SEM Fund staff  offer encouragement, and provide continued business and marketing support</p></li>
          <li class="product-price-cell">$50</li>
          <li class="product-avail-cell">Available: 60</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/promotional_events.jpg", :class => "product-img", alt: "A photo of Four women and whole bunch of bananas" %>
          </li>
          <li class="product-name-cell"><p>Promotional events:  Events are held at each woman’s local market. She is provided with a stall and marketing materials to educate shoppers and sell EcoSacs.</p></li>
          <li class="product-price-cell">$75</li>
          <li class="product-avail-cell">Available: 20</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/marketing_toolkit.jpg", :class => "product-img", alt: "Woman reading a paper ad" %>
          </li>
          <li class="product-name-cell"><p>Marketing toolkit: Toolkits contain visual posters that explain how to use an EcoSac; flyers with information about the benefits of alternative energy, and a professional EcoSac vendor tshirt.</p></li>
          <li class="product-price-cell">$30</li>
          <li class="product-avail-cell">Available: 30</li>
          <li class="product-buy-cell"><input type="number" placeholder="Enter Quantity" /><br />
          <a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

      <div id="standard" class="small-12 medium-4 large-3 columns end">
        <ul class="pricing-table">
          <li class="product-img-cell">
            <%= image_tag "eva_and_peter/wherever_its_needed_most.jpg", :class => "product-img", alt: "Students and teacher gathered around" %>
          </li>
          <li class="product-name-cell"><p>Wherever it’s needed most</p></li>
          <li class="product-price-cell"><input type="number" placeholder="$"/></li>
          <li class="product-buy-cell"><a href="#" class="button small expand">Add to Cart</a></li>
        </ul>
      </div>

    </div>

  <div class="row checkout-button">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout!</a>
  </div>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>