<div class="row">
  <div id="registry-banner-container" class="hero-banner marissa-and-travis">
    <div class=" large-12 columns ">
    <h1>Marissa & Travis</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#couple-project-div"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"marissa_and_travis_profile_photo.jpg", alt:"Marissa & Travis' Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p>Flowing through life we somehow crossed the paths of one another, while the lights of lives were flickering by and the noise of life was drowning, we connected.  Life together has truly been a blessing, please join us as we sanctify this bond in love.
    </p>
    <h2>Our Registry</h2>
    <p>We are very grateful to be surrounded by so much love in our lives; we want to pass it on by spreading love and light to those who may need some help. Through the last few years we have created countless memories while building a loving home together, so for our wedding we thought it may be a great opportunity to build something for others! Help us light up the night in Zambia by contributing on our behalf to SolarAid's project. Find out how this solar energy campaign will benefit students and families by reading more posted below.
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    Through <span class="project-name">SolarAid</span>, this campaign will bring access to solar energy to school children and their families at four schools in Zambia's Central Province.
    </p>
    <h3>Thanks To <span>You</span>, This Project:</h3>
  </div>
  <div class="large-6 columns medium-only-text-center large-only-text-right">
    <%= image_tag"marissa_and_travis_project_photo.jpg", alt:"Marissa & Travis' Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US LIGHT UP  THE NIGHT IN ZAMBIA</h2>
  <table id="registry-list">
    <tr class="zebra">
      <td colspan="2">
        <strong>Item</strong>
      </td>
      <td>
        <strong>Price</strong>
      </td>
      <td>
        <strong>Available</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "stones.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Meeting logistics</strong>
      </td>
      <td class="product-price-cell">
        $60
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "bricks.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Full participation package for a principal</strong>
      </td>
      <td class="product-price-cell">
        $100
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "timber.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Transportation of SolarAid trainers to rural communities</strong>
      </td>
      <td class="product-price-cell">
        $35
      </td>
      <td class="product-avail-cell">
        5
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "cement.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Principal stipend for leading the school’s solar campaign</strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        8
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "doors.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Marketing bundle: contains all of the supplies needed to highlight and promote solar lights. This includes sample lights, banners, flyers, radio airtime, etc</strong>
      </td>
      <td class="product-price-cell">
        $65
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Driver to transport solar lights</strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        2
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Vehicle repair, maintenance, and fuel</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Communications coordination (phone and internet)</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Room and board for teachers and assistants delivering lights </strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Follow-up interviews and community analysis to assess financial and health benefits following solar light purchase </strong>
      </td>
      <td class="product-price-cell">
        $7
      </td>
      <td class="product-avail-cell">
        100
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
  </table>

  <div class="row">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout</a>
  </div>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>