<div class="row">
  <div id="registry-banner-container" class="hero-banner lindsey-and-matt">
    <div class=" large-12 columns ">
    <h1>Lindsey & Matt</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#couple-project-div"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"matt_and_lindsey_profile_photo.jpg", alt:"Marissa & Travis' Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p> We caught each others eye many moons ago, became Badger alums, and soon moved across the country to explore new adventures. We are excited about the unknown...but our wedding date is for sure!
    </p>
    <h2>Our Registry</h2>
    <p>We wanted to fund a project that grows along with our marriage, while also giving to others on a global scale. We believe it is important that healthcare empowers people to care for themselves. Through our registry we can help spread knowledge and wellness! We invite you to choose items on our behalf to support this project.
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">Home-Based Care Program</span> is a 21-day seminar to train community health workers in rural Tanzania  on a variety of health topics, with a focus on HIV prevention, care and treatment. 
    </p>

    <div class="text-center"><a href="" class="button small" data-reveal-id="js-learn-more-modal">Learn More</a></div>
    <div id="js-learn-more-modal" class="reveal-modal small medium learn-more-modal" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>

      <h3>The Problem</h3>
      <p>Although great improvements have been made over the past decade in HIV prevention, care and treatment in Tanzania, Iringa region remains one of the highest affected with an HIV prevalence of 9.1%. 
      </p>

      <h3>The Opportunity</h3>
      <p>With proper training, community health workers can become a critical part of curbing new HIV infections, dispelling health myths and misconceptions, and ensuring those living with HIV access and adhere to treatment.
      </p>

      <h3>How it Works</h3>
      <ol>
        <li>22 community volunteers are selected for training on a diverse array ealth topics.</li>
        <li>Following the training, the newly certified community health workers report to their local health center to receive their client list predominantly comprised of people living with HIV/AIDS.
        </li>
        <li>Each week, the trained community health workers visit their clients and spreads accurate health knowledge to empower their community.
        </li>
        <li>Accurate health knowledge and treatment is brought to people’s homes, thereby reaching the most vulnerable groups who might otherwise not seek help at a health facility. 
        </li>
      </ol>

      <h3>Why it's Important</h3>
      <p> Unlike their facility-based counterparts, community health workers are able to couple their clinical skills with a deep rooted understanding of and respect for local culture and traditions. From wound cleaning, to HIV/AIDS counseling, to educating families about maternal and child health, home- based care volunteers can and are making a real impact in their communities.
      <ul>
        <li>· Productivity: Solar lights allow students to read without straining their eyes as well as enable work and meal preparation after sunset.</li>
        <li>· Savings: The money saved in 10 weeks from not having to buy kerosene is enough for families to purchase a Solar Light that can last 5 years.</li>
        <li>· Environmentally Smart:  Solar lights in the household can reduce CO₂ emissions by up to 440 pounds per year.</li>
      </ul>
      </p>

      <h3>Sustainability</h3>
      <p>The training is conducted by Tanzanian medical professionals to local Tanzanian community volunteers, allowing for education to spread throughout the community at a grassroots level.  This education ultimately travels to neighbors and friends as the volunteer builds trust within their community.  This leads to healthier parents and children.  In the long term, a healthy household means more food on the table and more opportunities for education and income generation.
      </p>

    </div>

    <h3>Thanks To <span>You</span>, This Project:</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
    <%= image_tag"matt_and_lindsey_project_photo.jpg", alt:"Matt & Lindsey' Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US BUILD A HEALTHIER FUTURE IN TANZANIA</h2>
  <table id="registry-list">
    <tr class="zebra">
      <td colspan="2">
        <strong>Item</strong>
      </td>
      <td>
        <strong>Price</strong>
      </td>
      <td>
        <strong>Available</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "stones.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Training facility</strong>
      </td>
      <td class="product-price-cell">
        $100
      </td>
      <td class="product-avail-cell">
        14
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "bricks.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Course Materials</strong>
      </td>
      <td class="product-price-cell">
        $30
      </td>
      <td class="product-avail-cell">
        22
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <td colspan="5" class="table-header">Training modules</td>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "timber.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Basic Anatomy: </strong><p>Introduces the birds and the bees, including describing what sex is, what body parts are involved, the risks associated with different sexual practices and how to negotiate safe sex.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "cement.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Facts about HIV/AIDS and people living with HIV/AIDS: </strong><p>defines HIV and AIDS, how HIV is spread, common myths and misconceptions, and the state of the epidemic in Tanzania.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "doors.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>HIV prevention: </strong><p>Reviews how to prevent infection through the various modes of transmission, including sexual contact, blood, and mother-to-child.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Community health workers’ role in community mobilization and HIV prevention: </strong><p>describes how community health workers fit into broader HIV/AIDS and sexually transmitted infection efforts and why their work is so important.
        </p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Managing and treating AIDS-related conditions: </strong><p>explains what opportunistic infections are, locally available remedies, basic treatment for common conditions, and when to refer clients for clinical care.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Care in the final stages of life: </strong><p>how families cope with loss and what the community health worker can do to help both the person dying and families during this difficult time.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Promoting positive living and emotional well being: </strong><p>delves into emotional responses to HIV/AIDS and how to give emotional support to clients and their caregivers.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Healthy minds: </strong><p>recognizes how anxiety and depression are part of the HIV/AIDS experience and enables community health workers identify symptoms and help clients and families overcome them.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Basic nursing care: </strong><p>demonstrates proper use of the community home-based care kit, bedside manner, and methods for assisting clients with daily activities.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Medicines: </strong><p>provides general guidelines on taking medicines and information about common drugs taken by people living with HIV/AIDS and how to help them adhere to instructions.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Infection prevention: </strong><p>critical session that ensures community health workers know how to avoid general infections through simple methods such as proper handwashing techniques and safe waste disposal.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Assessing needs of clients and caregivers: </strong><p>gives community health workers the tools to build a client care plan by identifying gaps in knowledge and abilities.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Basic personal hygiene: </strong><p>stresses importance of cleanliness on physical and emotional health, and demonstrates how to give a bed bath for extremely ill clients.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>The role of good nutrition in positive living: </strong><p>describes how the food groups work, health meal preparation, and the relationship between nutrition and HIV/AIDS.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Special food and nutrition considers for people living with HIV: </strong><p>discusses common nutrition and eating problems of people living with HIV/AIDS, and what to do when there is not enough food in the house.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Introduction to family planning: </strong><p>how it works, why it’s important, and how to counsel community members on their choices to make sure they get the method they want.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Conception, contraception and childbearing choices: </strong><p>how to inform people living with HIV/AIDS on the risks of childbearing and respect decisions related to having or not having children.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Preventing mother to child transmission of HIV: </strong><p>explains the ways HIV can be passed from mother to child during pregnancy, labor and breastfeeding and steps to prevent transmission at each point.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Types and effectiveness of family planning: </strong><p>breaks down the risk of getting pregnancy by each method, from the pill to the IUD.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Helping clients use family planning methods effectively: </strong><p>shows how to provide non-clinical methods of family planning, counseling and tools to help clients select the best method for their needs.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Mobilizing community support for PLHIV and their families: </strong><p>links clients and caregivers to resources and support and how to advocate on their behalf.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Antiretroviral therapy (ART): </strong><p>how to help clients and caregivers prepare for and adhere to treatment and identify and manage common side effects of treatment.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>HIV care and treatment basics: </strong><p>clarifies myths and facts about ART, who needs it, and how it works.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Mobilizing the community around prevention of mother to child transmission of HIV: </strong><p>develops activities to increase awareness of PMTCT services and how to reduce stigma toward women who do not breastfeed.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Preventing pressure sores: </strong><p>shares practical techniques to avoid this painful condition with the most ill, bedridden clients.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Groups needing special attention: </strong><p>discusses the importance of ensuring all people have access to HIV prevention and treatment services, regardless of age, sexuality or economic status.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Teaching others and transferring skills: </strong><p>goes beyond just service delivery and trains community health workers on how to build the capacity of clients and caretakers for better day-to-day care.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Practical skills in treating and referring clients: </strong><p>focuses on the most need to know skills that are not always common knowledge, including how to make oral rehydration salts and sterilizing and reading a thermometer.</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
  </table>

  <div class="row">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout</a>
  </div>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>