= render 'hero_new'
- if @registry.projects.length <= 1
  = render 'two_columns'
- else
  = render 'registry_info'
  = render 'project_list'
  = render 'project_carousel'
= render 'thank_you'
= render 'project_modal' if @registry.projects.first.present?