<div class="row">
  <div id="registry-banner-container" class="hero-banner katelyn-and-brandon">
    <div class=" large-12 columns ">
    <h1>Katelyn & Brandon</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="" class="scroll"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section" id="target">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"katelyn_and_brandon/katelyn_and_brandon_profile_photo.jpg", alt:"Katelyn & Brandon's Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p>Katelyn and Brandon "met" over five years ago (over the phone) when they were introduced by their close mutual friend Britta. The actual "face-to-face" meeting was delayed as Katelyn was a Peace Corps Volunteer in Tanzania at the time and Brandon was an AmeriCorps volunteer in Flagstaff, AZ. They spoke often over the phone for a few years and met in person at a Colorado Rockies during the summer of 2013. Though there was an immediate "spark" over the phone, their 2013 meeting solidified feelings.  They started dating seriously when Brandon moved to Washington D.C. where Katelyn works for Special Olympics International. Brandon proposed to Katelyn on September 9th, 2014 at Lake Ellyn in Glen Ellyn......and here we are today!
    </p>
    <h2>Our Registry</h2>
    <p>Katelyn served as a Peace Corps Volunteer in the beautiful country of Tanzania from 2008-2010.  While there, she lived and worked in the lively and lovely village of Wangama in the Southern Highlands of the country.  Katelyn fell in love with the village and quickly made friends in the community.  She worked with her Peace Corps counterpart, Julio, and villagers on all projects, most relating to HIV/AIDS prevention, education, and palliative care.  Katelyn continues to keep in close contact with her friends from Wangama village and especially her counterpart, Julio.  Since she finished her service in 2010, Katelyn promised to continue working with Wangama village on completing a clinic where people living with HIV/AIDS could receive their antiretroviral medications, counseling and renewed hope.  Katelyn and Brandon wish to start their marriage journey with this gift of love for Wangama village and sincerely hope you are able to contribute!     
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>Our registry will support the completion of <span class="project-name">Wangama's clinic!</span> In order for Wangama village to convert its basic health dispensary into a more advanced and equipped clinic, an HIV/AIDS ward must first be built. This ward will specifically treat ill children and enable villagers access to medications more specific to the diseases and illnesses they face, especially people living with HIV/AIDS.
    </p>

    <div class="text-center learn-more"><a href="" class="button small" data-reveal-id="js-learn-more-modal">Learn More</a></div>
    <div id="js-learn-more-modal" class="reveal-modal small medium learn-more-modal" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>

      <p>The Wangama dispensary is fortunate to have a village doctor, a midwife, and two nurses on staff who are able to support villagers with basic medications and health counseling. Once constructed, the new ward will enable HIV patients to receive antiretroviral medications, have their CD4 count checked, and receive general counseling--including nutrition and sexual health--with a physician.
      <br />
      <br />
      The closest clinic to Wangama is a 5-6 hour round-trip walk from the village, a tiring hike that requires at least one missed day of farming.  As such, many people living with HIV/AIDS  from Wangama opt out of the journey to the nearest clinic.  Let's help bring the clinic to them so they are more likely to get the medical attention they require and deserve!  
      </p>

    </div>

    <h3>Thanks To <span>You</span>, This Project is: </h3>
    <div class="text-center" id="fund-meter-div">
      <%= image_tag "homepage/fund_meter.png", :id => "fund-meter" %>
      <span id="percentage-funded"><%= calc_percentage(@registry) %>%</span> 
    </div>
    <h3>Funded</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
    <%= image_tag"katelyn_and_brandon/katelyn_and_brandons_project_photo.png", alt:"Katelyn & Brandon's Project Photo" %>
  </div>
</div>
<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US BUILD A HEALTHIER FUTURE FOR THE COMMUNITY OF WANGAMA</h2>
  <%= render partial: 'purchase_form' %>
</div>