<div class="row">
  <div id="registry-banner-container" class="hero-banner eva-and-peter">
    <div class=" large-12 columns ">
    <h1>Peter & Eva</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#couple-project-div"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"peter_and_eva_profile_photo.jpg", alt:"Peter & Eva's Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p>New to Austin and ready for new adventures, we met in 2009. For five years we've traveled, frolicked, danced, laughed and made incredible friends together. In November of last year Pete proposed on the deck of a ferry onto Vancouver Island, and it was utterly perfect. Now we get to spend the rest of our lives looking for new adventures together.
    </p>
    <h2>Our Registry</h2>
    <p>When we spent last summer in Senegal, we got to know some incredible people doing innovative work. Some of our new friends there work at a social enterprise that provides entrepreneurial training to women in Senegal. Their approach is progressive and impactful, and we are excited to be a part of the organization's growth through Heartful.ly. We invite you to help us fund this project by choosing a donation below. Merci beaucoup!
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">EcoSac women’s empowerment training</span> will support women in Senegal to promote an affordable energy alternative that is not only more efficient and safer for family health, but is also an income generator for women leaders in the community.
    </p>
    <h3>Thanks To <span>You</span>, This Project:</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
    <%= image_tag "eva_and_peter_project_photo.jpg", alt: "Peter & Eva's Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US EMPOWER WOMEN ENTREPRENEURS IN SENEGAL</h2>
  <table id="registry-list">
    <tr class="zebra">
      <td colspan="2">
        <strong>Item</strong>
      </td>
      <td>
        <strong>Price</strong>
      </td>
      <td>
        <strong>Available</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
    </tr>
    <td colspan="5" class="table-header">Trainings</td>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "stones.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Introductory Training:</strong>
        <p>An overview on alternative energy benefits, the EcoSac, and exercises in women’s empowerment.</p>
      </td>
      <td class="product-price-cell">
        $60
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "bricks.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Business Management Training:</strong><p>Technical skills building that covers basic accounting, how to run and grow a small business, and how to manage savings.</p>
      </td>
      <td class="product-price-cell">
        $100
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "timber.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Marketing and Communications Training:</strong><p>An exercise in how to effectively promote and close the deal.</p>
      </td>
      <td class="product-price-cell">
        $75
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <td colspan="5" class="table-header">Mentoring and Enterprise Support</td>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "cement.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Business mentoring visits:</strong><p>SEM Fund staff training graduates once a month for a minimum of six months to check in on their progress,SEM Fund staff  offer encouragement, and provide continued business and marketing support</p>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        60
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "doors.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Promotional events:</strong><p>Events are held at each woman’s local market. She is provided with a stall and marketing materials to educate shoppers and sell EcoSacs.</p>
      </td>
      <td class="product-price-cell">
        $75
      </td>
      <td class="product-avail-cell">
        20
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Marketing toolkit:</strong><p>Toolkits contain visual posters that explain how to use an EcoSac; flyers with information about the benefits of alternative energy, and a professional EcoSac vendor tshirt.</p>
      </td>
      <td class="product-price-cell">
        $30
      </td>
      <td class="product-avail-cell">
        30
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Wherever it’s needed most</strong>
      </td>
      <td class="product-price-cell">
        <p class="dollar-sign">$</p><input type="number" placeholder="Enter Amount Desired">
      </td>
      <td class="product-avail-cell">
        Unlimited
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
  </table>

  <div class="row">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout</a>
  </div>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>