<div class="row">
  <div id="registry-banner-container" class="hero-banner lindsey-and-matt">
    <div class=" large-12 columns ">
    <h1>Lindsey & Matt</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#couple-project-div"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"matt_and_lindsey_profile_photo.jpg", alt:"Marissa & Travis' Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p> We caught each others eye many moons ago, became Badger alums, and soon moved across the country to explore new adventures. We are excited about the unknown...but our wedding date is for sure!
    </p>
    <h2>Our Registry</h2>
    <p>We wanted to fund a project that grows along with our marriage, while also giving to others on a global scale. We believe it is important that healthcare empowers people to care for themselves. Through our registry we can help spread knowledge and wellness! We invite you to choose items on our behalf to support this project.
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">Home-Based Care Program</span> is a 21-day seminar to train community health workers in rural Tanzania  on a variety of health topics, with a focus on HIV prevention, care and treatment. 
    </p>
    <h3>Thanks To <span>You</span>, This Project:</h3>
  </div>
  <div class="large-6 columns medium-only-text-center large-only-text-right">
    <%= image_tag"matt_and_lindsey_project_photo.jpg", alt:"Matt & Lindsey' Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US BUILD A HEALTHIER FUTURE IN TANZANIA</h2>
  <table id="registry-list">
    <tr class="zebra">
      <td colspan="2">
        <strong>Item</strong>
      </td>
      <td>
        <strong>Price</strong>
      </td>
      <td>
        <strong>Available</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "stones.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Meeting logistics</strong>
      </td>
      <td class="product-price-cell">
        $60
      </td>
      <td class="product-avail-cell">
        1
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "bricks.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Full participation package for a principal</strong>
      </td>
      <td class="product-price-cell">
        $100
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "timber.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Transportation of SolarAid trainers to rural communities</strong>
      </td>
      <td class="product-price-cell">
        $35
      </td>
      <td class="product-avail-cell">
        5
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "cement.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Principal stipend for leading the school’s solar campaign</strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        8
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "doors.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Marketing bundle: contains all of the supplies needed to highlight and promote solar lights. This includes sample lights, banners, flyers, radio airtime, etc</strong>
      </td>
      <td class="product-price-cell">
        $65
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Driver to transport solar lights</strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        2
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Vehicle repair, maintenance, and fuel</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Communications coordination (phone and internet)</strong>
      </td>
      <td class="product-price-cell">
        $25
      </td>
      <td class="product-avail-cell">
        4
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Room and board for teachers and assistants delivering lights </strong>
      </td>
      <td class="product-price-cell">
        $50
      </td>
      <td class="product-avail-cell">
        10
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
    <tr>
      <td class="product-img-cell">
        <%= image_tag "windows.jpg", :class => "product-img" %>
      </td>
      <td class="product-name-cell">
        <strong>Follow-up interviews and community analysis to assess financial and health benefits following solar light purchase </strong>
      </td>
      <td class="product-price-cell">
        $7
      </td>
      <td class="product-avail-cell">
        100
      </td>
      <td class="product-buy-cell">
        <input type="number" /><br />
        <a href="#" class="button small expand">Add to Cart</a>
      </td>
    </tr>
  </table>

  <div class="row">
    <a class="expand button" data-reveal-id="js-thank-you-modal" href="">All Set? Checkout</a>
  </div>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>