<div class="row first-div">
    <div id="registry-banner-container" class="hero-banner nicole-and-emery <%= controller_name %> <%= action_name %>" style="background-image: url(<%= @registry.banner_img %>);">
    <div class="large-12 columns ">
        <h1><%= @registry.name %></h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#target" class="scroll"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section" id="target">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag @registry.profile_img, alt:"Katelyn & Brandon's Profile Photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <%= raw(@registry.couples_story) %> 
    </p>
    <h2>Our Registry</h2>
    <%= raw(@registry.description) %> 
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">EcoSac women’s empowerment training</span> will support women in Senegal to promote an affordable energy alternative that is not only more efficient and safer for family health, but is also an income generator for women leaders in the community.
    </p>
    <div class="text-center learn-more"><a href="" class="button small" data-reveal-id="js-learn-more-modal">Learn More</a></div>
    <div id="js-learn-more-modal" class="reveal-modal small medium learn-more-modal learn-more-modal-fixed-height" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>

      <h3>The Problem</h3>
      <p>Currently, in Senegal, a meal takes on average 3.5 hours to cook and uses between $1 and $2 worth of fuel per meal.  The economic, health and environmental burden of this task and its associated health risks often fall on women, who are the primary cooks in Senegalese households.</p>

      <h3>The Opportunity</h3>
      <p>The EcoSac is a temperature retention bag that reduces the time, energy, and money necessary for households to cook. By using the EcoSac, low-income families in Senegal can lessen the impact that cooking has on the environment and on their health, all while cutting their expenses.
      </p>

      <h3>How it Works</h3>
      <ol>
        <li>The EcoSac is currently manufactured in Dakar, Senegal, by a team of four tailors employed by SEM Fund, three of whom are women.
        </li>
        <li>Once constructed, the product is sold to women’s groups’ presidents who sell them to their members for a <li>commission.
        </li>
        <li>For each EcoSac sold, the presidents can make between $1.50 - $2 US dollars, providing an additional source of income.
        </li>
        <li>Under this project, SEM Fund will train and mentor 10 new women entrepreneurs for a minimum of six months, and support the creation of a market for clean energy household products.
        </li>
        <li>Families spend less money on cooking, women have more time to devote to their own personal development, and a chance to earn cash to potentially start their own businesses!
        </li>
      </ol>

      <h3>Why it's Important</h3>
      <p>The average household income in rural Senegal is less than $3/day with between 15% and 30% spent on household cooking and lighting products. The EcoSac provides an affordable alternative that is not only more efficient and safer for family health, but is also an income generator for women leaders in the community.
      </p>

      <h3>Sustainability</h3>
      <p>SEM Fund’s EcoSac is sustainable because it is paired with a community-led and managed distribution process. External funds are used to support the business and leadership skills development of new women’s groups, but the ongoing promotion and use of the EcoSac will be driven by women in the community who are motivated to generate their own income.
      </p>
    </div>

    <h3>Thanks To <span>You</span>, This Project is: </h3>
    <div class="text-center" id="fund-meter-div">
      <%= image_tag "homepage/fund_meter.png", :id => "fund-meter" %>
      <span id="percentage-funded"><%= calc_percentage(@registry) %>%</span> 
    </div>
    <h3 class="toBeFundedOrNot">Funded</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
    <%= image_tag"matt_and_lindsey/matt_and_lindsey_project_photo.jpg", alt:"Matt & Lindsey' Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US EMPOWER WOMEN ENTREPRENEURS IN SENEGAL</h2>
  <%= render partial: 'purchase_form' %>
</div>

<div id="js-thank-you-modal" class="reveal-modal small thank-you-modal" data-reveal>
  <h2 id="thank-you">Thank You!</h2>
  <a href="#" class="close-reveal-modal">&times;</a>

  <div class="row">
    <p>Thanks so much for contributing to our special day by supporting the <strong>Mufindi Orphan Project</strong>! We can't wait to see you at the wedding!</p>
  </div>
</div>