<div class="c-breaker c-project-about">
  <div class="center"><svg class="c-icon mb" style="width: 25px; height: 25px;"><use xlink:href="#icon-globe-purple"></use></svg></div>
  <div class="meta center mb--large">About Our Partner</div>
  <div class="test r-flex">
    <div class="c-project-about__overview">
      <div class="c-paragraph mb--small">
        <h2 class="c-paragraph__heading"><%= @project.organization.name %></h2>
        <p class="c-paragraph__text">
          <%= @project.organization.description %>
        </p>
      </div>
      <ul class="c-project-about__meta">
        <li>
          <svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-map"></use></svg><%= @project.organization.country %>
        </li>
        <li><svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-link"></use></svg> <a class="c-project-about__link" target="_blank" href="<%= @project.organization.org_url %>"><%= @project.organization.org_url %></a></li>
      </ul>
    </div>
    <div class="c-project-about__photo" style="background-image: url(<%= @project.photo2 %>); background-size: cover; background-position: center;">
    </div>
  </div>
</div>
