<% @projects.each_with_index do |project, index| %>
  <% if  index % 2 == 0 %>
    <div class="r-flex mb--large">
  <% end %>
    <div class="c-project-mini flex-2">
      <%= link_to "/projects/#{project.url_slug}" do %>
        <div class="c-project-mini__header" style="background-image: url(<%= project.photo1 %>)">
          <div class="c-project-mini__title">
            <%= project.name %>
          </div>
          <div class="c-project-tabbed__header--overlay"></div>
        </div>
      <% end %>
      <div class="c-project-mini__info">
        <p><%= project.description %></p>
        <%= link_to 'Learn more', "/projects/#{project.url_slug}", class: "c-button c-button--primary block nudge-top stretch", style: "text-align: center; color: white;" %>
      </div>
    </div>
  <% if index % 2 != 0 %>
    </div>
  <% end %>
<% end %>
