<%= render "shared/svg" %>

<%= render current_user ? "shared/nav" : "shared/nav_guest" %>
<%= render "shared/status" %>

<%= render "header" %>
<%= render "summary" %>
<%= render "about" %>
<%= render "shared/quote" %>
<%= render "details" %>
<%= render "shared/registry_card" %>
<div class="test">
  <div class="meta mb--large" style="margin-top: 80px; text-align: center;">Browse More Projects</div>
  <%#= render "projects/project_mini" %>
  <button class="c-button mb--xl block ma">browse all projects &rarr;</button>
</div>
<%= render "shared/footer" %>
