Hey Kate,
<br>
<div>
  Just letting you know <%= @order.first_name %> <%= @order.last_name %>
</div>
<div>
  Got <%= @order.registry.name %> the following items..
</div>
<br>
<div>
  <%= order_summary(@order.summary) %>
</div>
<div>
  Corey would appreciate it if you made sure that the total of <%= @order.total %> added up correctly.
</div>
<br>
<br>
<div>
  Best,
  <br>
  Team Heartful.ly
</div>