Hi <%= @order.registry.name %>!,
<br>
<div>
  We are emailing to let you know that <%= @order.first_name %> <%= @order.last_name %>
  got you the following items off of your heartful.ly registry..
</div>
<br>
<div>
  <% order_summary(@order.summary).each do |item, quantity| %>
    <div><%= "#{quantity} #{item}" %></div>
  <% end %>
</div>
<div>
 <% if @order.message != '' %>
  They also left you the following message:
  <%= @order.message %>
 <% end %>
<br>
<br>
<div>
  Best,
  <br>
  Team Heartful.ly
</div>