<div>
  Hi <%= @order.registry.name %>!
</div>
<br>
<div>
We wanted to let you know that <%= @order.first_name %> <%= @order.last_name %> just purchased the following items of your Heartful.ly registry:
</div>
<br>
<div>
  <% order_summary(@order.summary).each do |item, quantity| %>
    <div><%= "#{item} (#{quantity}): " %> $<%= (@order.registry.item_types.where(name: item).first.price * quantity.to_i).to_i %></div>
  <% end %>
</div>
<br>
<div>
 <% if @order.message != '' %>
  They also left you the following note:
  <br>
  <%= @order.message %>
 <% end %>
<br>
<br>
<div>
  Best,
  <br>
  Team Heartful.ly
</div>