%header.c-hero
  .c-hero__container
    .line-one
      %span
        This holiday season, give
      .holiday-carousel-container
        .holiday-carousel
          #shelter
            = image_tag 'holiday-shelter.png'
          #health
            = image_tag 'holiday-health.png'
          #education
            = image_tag 'holiday-education.png'
          #dignity
            = image_tag 'holiday-dignity.png'
          #heartfully
            = image_tag 'holiday-heartfully.png'
    %h4
      Purchase life-changing gifts for people in need and dedicate them to the people you love.
    %button.c-button.c-button--primary.scroll-to-grid{data: {target: "#project-grid"}}
      Shop gifts for good