<div class="form_wrapper" >
  <%= form_for(@organization, class: 'form') do |f| %>
    <% if @organization.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

        <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :name, "Organization name: " %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :org_url, "Website: " %>
      <%= f.text_field :org_url %>
    </div>
    <div>
      <div>
        Does your organization work on projects whose total cost is between $3,000-$10,000? 
        <i>Note: We primarily feature projects within this range, but are open to large projects if they can be funded in phases.</i>
      </div>
      <%= f.radio_button(:in_price_range, true) %>
      <%= label(:in_price_range, "Yes", for: :organization_in_price_range_true) %>
      <%= f.radio_button :in_price_range, false %>
      <%= f.label(:in_price_range, "No", for: :organization_in_price_range_false)%>
    </div>
    <div>
      Sector (i.e. health, water, energy, etc)
      <i>Note: List all that apply.</i>
      <%= f.text_field :sectors %>
    </div>
    <div>
      <%= f.label :mission_statement, "Mission statement: " %>
      <%= f.text_area :mission_statement %>
    </div>
    <div class="card" >
      <div>
        Partnership point of contact
      </div>
      <%= f.label :contact_name, "Name: " %>
      <%= f.text_field :contact_name %>
      <%= f.label :contact_job_title, "Job title: "%>
      <%= f.text_field :contact_job_title %>
      <%= f.label :contact_email, "Email: " %>
      <%= f.email_field :contact_email %>
      <%= f.label :contact_phone_number, "Phone number: "%>
      <%= f.text_field :contact_phone_number %>
    </div>
    <div class="card">
      <div>
        Is your organization a registered 501(c)3 in the United States?
        <i>If not, what type of entity is it and where is it registered?</i>
      </div>
      <%= f.radio_button(:tax_exempt, true) %>
      <%= label(:tax_exempt, "Yes", for: :organization_tax_exempt_true) %>
      <%= f.radio_button :tax_exempt, false %>
      <%= f.label(:tax_exempt, "No", for: :organization_tax_exempt_false)%>
      <%= f.label :entity_if_not_503, "Other: " %>
      <%= f.text_field :entity_if_not_503 %>
    </div>
    <div>
      <%= f.label :city_province, "City/Province and country of organization's main office: " %>
      <%= f.text_field :city_province %>
    </div>
    <div>
      <%= f.label :country, "Country or countries of operation:  " %>
      <%= f.text_field :country %>
    </div>
    <div>
      <%= f.label :annual_budget, "Annual operating budget for FY 2015: " %>
      <%= f.number_field :annual_budget %>
    </div>
    <div>
      <div>
        Is your organization ranked Charity Navigator, Guidestar, or a similar platform?
        <i>This is not a requirement.</i>
      </div>
      <%= f.radio_button(:ranked_charity, true) %>
      <%= label(:ranked_charity, "Yes", for: :organization_ranked_charity_true) %>
      <%= f.radio_button :ranked_charity, false %>
      <%= f.label(:ranked_charity, "No", for: :organization_ranked_charity_false)%>
    </div>
    <div>
      <%= f.label :referral_source, "How did you heart about Heartfully?" %>
      <%= f.text_field :referral_source %>
    </div>
      <% if can? :edit, @organization %>
        <%= f.radio_button(:heartfully_approved, true) %>
        <%= label(:heartfully_approved, "Approved", for: :organization_heartfully_approved_true) %>
        <%= f.radio_button :heartfully_approved, false %>
        <%= f.label(:heartfully_approved, "Not Approved", for: :organization_heartfully_approved_false)%>
      <% end %>
    <div>
      Thanks again for your interest! 
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: "test-button" %>
    </div>
  <% end %>
</div>
