<p id="notice"><%= notice %></p>
<%= link_to "Back", organizations_path %>
<div>
  <strong>Name: </strong>
  <%= @organization.name %>
</div>
<div>
  <strong>Site: </strong>
  <%= link_to @organization.org_url %>
</div>
<div>
  <strong>Project in $3,000-$10,000 range? </strong>
  <%= @organization.in_price_range %>
</div>
<div>
  <strong>Sectors: </strong>
  <%= @organization.sectors %>
</div>
<div>
  <strong>Mission Statement: </strong>
  <%= @organization.mission_statement %>
</div>
<div>
  <strong>tax exempt?: </strong>
  <%= @organization.tax_exempt %>
  <br>
  <strong> Other entity: </strong>
  <%= @organization.entity_if_not_503 %>
</div>
<div>
  <strong>City or Province of headquarters: </strong>
  <%= @organization.city_province %>
</div>
<div>
  <strong>Countries of operation: </strong>
  <%= @organization.country %>
</div>
<div>
  <strong>Annual budget: $</strong>
  <%= @organization.annual_budget %>
</div>
<div>
  <strong>Ranked? </strong>
  <%= @organization.ranked_charity %>
</div>
<div>
  <strong>Referral: </strong>
  <%= @organization.referral_source %>
</div>
<div>
  <strong>Contact Name: </strong>
  <%= @organization.contact_name %>
</div>
<div>
  <strong>Contact job title: </strong>
  <%= @organization.contact_job_title %>
</div>
<div>
  <strong>Contact Email: </strong>
  <%= @organization.contact_email %>
</div>
<div>
  <strong>Contact Phone: </strong>
  <%= @organization.contact_phone_number %>
</div>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

<div>
  <h4>Reports</h4>
  <%= link_to "New Report", new_organization_report_path(@organization) %>
  <br>
  <% @organization.reports.each do |report| %>
    <%= link_to report.created_at, organization_report_path(@organization, report) %>
  <% end %>
</div>

<div>
  <h4>Projects</h4>
  <%= link_to "Project", new_organization_project_path(@organization) %>
  <br>
  <% @organization.projects.each do |project| %>
    <%= link_to project.name, organization_project_path(@organization, project) %>
    <%= link_to 'edit', edit_organization_project_path(@organization, project) %>
  <% end %>
</div>
