<div class="test">
  <% content_for :load_js do %>
  	<script>
  		$(window).load(function() {
  			$('form').get(0).reset();
  		});
  	</script>
  <% end %>
  <div class='center'>
    <h2 class="c-how__title center subhed purple mb">Order confirmation</h2>
    <h4 class="center quiet mb--large">Step 2 of 2: Enter payment details</h4
    <% unless @order.status == 'complete' %>
      <div>
        Your total comes to: <strong><%= @order.total %></strong>
      </div>
      <div style="border: 1px solid red;">
      <%= form_tag order_charges_path @order do %>
        <%= fields_for :stripe do |ff| %>
          <%= ff.hidden_field(:object, value: "card") %>
            <div class="mb">
              <%= label_tag(:number, "Card Number") %>
              <%= ff.text_field(:number, placeholder: "XXXX-XXXX-XXXX-XXXX") %>
            </div>
            <div class="mb">
              <%= label_tag(:exp_month, "Exp Month") %>
              <%= ff.text_field(:exp_month, placeholder: 'MM') %>
            </div>
            <div class="mb">
              <%= label_tag(:exp_year, "Exp Year") %>
              <%= ff.text_field(:exp_year, placeholder: 'YYYY') %>
            </div>
            <div class="mb">
              <%= label_tag(:cvc_check, "CVV2/CVC") %>
              <%= ff.text_field(:cvc_check) %>
              <small>The last 3 digits displayed on the back for your card</small>
            </div>
            <div class="mb">
              <%= label_tag(:address_line1, "Address line 1") %>
              <%= ff.text_field(:address_line1, placeholder:"Street") %>

              <%= label_tag(:address_line2, "Address line2") %>
              <%= ff.text_field(:address_line1, placeholder:"Street 2") %>
            </div>
            <div class="mb">
              <%= label_tag(:address_city, "City") %>
              <%= ff.text_field(:address_city, placeholder: "City") %>
            </div>
            <div class="mb">
              <%= label_tag(:address_state, "State") %>
              <%= ff.text_field(:address_state, placeholder: 'State') %>
            </div>
            <div class="mb">
              <%= label_tag(:address_zip, "Zip") %>
              <%= ff.text_field(:address_zip, placeholder: "Zip") %>
            </div>
        <% end %>

        <%= submit_tag("Submit", class:'c-button c-button--primary') %>

      <% end %>
    <% else %>
      There was an error loading this page
    <% end %>
  </div>
  </div>
</div>
