<!doctype html>
<html>
  <head>
    <!-- Loading Google web fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Hind:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>

    <%= render 'shared/meta' %>
    <%= yield :backbone_bootstrap %>
    <%= yield :stripe %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag "fav.png" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '554616404692036');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=554616404692036&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

  </head>

  <body>
    <%= render "shared/svg" %>
    <%= render current_user ? "shared/nav" : "shared/nav_guest" %>
    <%= yield %>
    <%= javascript_include_tag('application') %>
    <%= yield :load_js %>
  </body>
</html>
