<!doctype html>
<html>
  <head>
    <!-- Loading Google web fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Hind:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>

    <%= render 'shared/meta' %>
    <%= yield :backbone_bootstrap %>
    <%= yield :stripe %>
    <%= favicon_link_tag "fav.png" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="//cdn.optimizely.com/js/4468711811.js"></script>
    <!-- Facebook Conversion Code for Registrations - Kate Glantz 1 -->
      <script>
        (function() {
        var _fbq = window._fbq || (window._fbq = []);

        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6036117627991', {'value':'0.00','currency':'USD'}]);
      </script>
      <noscript>
        <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6036117627991&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" />
      </noscript>
    <!--  END -->
  </head>

  <body>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <%= render "shared/facebook" %>
    <%= render "shared/svg" %>
    <%= render current_user ? "shared/nav" : "shared/nav_guest" %>
    <div class="page-wrap">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= javascript_include_tag('application') %>
    <%= yield :load_js %>
  </body>
</html>
